[dra.-márcia]-boas-vindas-pos-KSy6QHimpLbjZkJI.json
{
  "updatedAt": "2025-06-10T14:31:00.166Z",
  "createdAt": "2025-03-21T20:13:43.668Z",
  "id": "KSy6QHimpLbjZkJI",
  "name": "[Dra. Márcia] Boas vindas pos",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.pipedriveTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        0
      ],
      "id": "8454c243-e772-4704-8b61-a7eb39df7eab",
      "name": "Pipedrive Trigger",
      "webhookId": "adbca145-8c9a-48ee-b6b4-cab66bd2e93c",
      "credentials": {
        "pipedriveApi": {
          "id": "TLwmrhoVoFR3pFMt",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c2b90a1-d326-4a40-94db-fb8269466b21",
              "name": "ID deal",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        0
      ],
      "id": "96095be3-bb0b-4163-ae12-38be05e96292",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "dealId": "={{ $json[\"ID deal\"] }}"
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "66f3d7e7-2a9a-4760-85f3-4c2494ac3715",
      "name": "Pipedrive",
      "credentials": {
        "pipedriveApi": {
          "id": "TLwmrhoVoFR3pFMt",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08a346de-e8a0-47f3-b78f-6025e0a04283",
              "leftValue": "={{ $json.meta.action }}",
              "rightValue": "create",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        0
      ],
      "id": "fb1434b2-1a4e-40c8-95c9-d60f0f71908e",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sendflow.pro/a/MVIqHRPjZIuyX6GQoSQZ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"apiKey\": \"c03a1f04-33ed-4a19-85d7-68a55ddc3d70\",\n  \"phoneNumber\": \"55{{ $json.person_id.phone[0].value }}\",\n  \"name\": \"{{ $json.person_id.name }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "id": "310b669a-23cd-47c1-8dbf-a27e7dbfd9cc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a2045be-b315-491a-8db8-f2d262d752ec",
              "leftValue": "={{ $('Pipedrive Trigger').item.json.data.title }}",
              "rightValue": "[Neg Turma 56 2025 pag YY]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0446d481-54c4-479f-af00-005eb72f6da4",
              "leftValue": "={{ $('Pipedrive Trigger').item.json.data.title }}",
              "rightValue": "[Neg Turma 56 2025 pag CAO]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "302645ab-3434-4793-a0c7-90380215a5d5",
              "leftValue": "={{ $('Pipedrive Trigger').item.json.data.title }}",
              "rightValue": "[Neg Turma 56 2025 Meta]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "93e25b55-6106-444a-967e-10a2a8a9b50b",
              "leftValue": "={{ $('Pipedrive Trigger').item.json.data.title }}",
              "rightValue": "[Neg Turma 56 2025 Google]",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        -20
      ],
      "id": "87a2f1dc-2351-4d39-aa0e-5c0b7fed138e",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1140,
        520
      ],
      "id": "28be6033-3a82-45cf-ad09-cacd8d1c275a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1K6QY5TQMT-V86GEm2BgmUx3qK5TiFepQDjmRGbJJP-E",
          "mode": "list",
          "cachedResultName": "[Center AO] Leads lista de espera",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K6QY5TQMT-V86GEm2BgmUx3qK5TiFepQDjmRGbJJP-E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 63700338,
          "mode": "list",
          "cachedResultName": "Pós Graduação",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K6QY5TQMT-V86GEm2BgmUx3qK5TiFepQDjmRGbJJP-E/edit#gid=63700338"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $('Pipedrive Trigger').item.json.data.add_time  }}",
            "Nome": "={{ $('Pipedrive').item.json.person_id.name }}",
            "Email": "={{ $('Pipedrive').item.json.person_id.email[0].value }}",
            "Telefone ": "={{ $('Pipedrive').item.json.person_id.phone[0].value }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone ",
              "displayName": "Telefone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Crm",
              "displayName": "Crm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1240,
        120
      ],
      "id": "eeb8c713-c926-4d28-8815-b76cbef4f454",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W0R4Ys7oQXFuzbM4",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Pipedrive Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Pipedrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "C0JGoY8oqU3Vhsgx"
  },
  "staticData": {
    "node:Pipedrive Trigger": {
      "webhookId": 2150423
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Pipedrive Trigger": [
      {
        "json": {
          "data": {
            "add_time": "2025-06-10T14:29:41Z",
            "channel": 23364,
            "channel_id": "Vendas Google Interesse Especialização em Acupuntura GOOGLE",
            "close_time": null,
            "creator_user_id": 3559832,
            "currency": "BRL",
            "custom_fields": {
              "31ae0f90cc1b3ee3da765f9c9decf2321022a7cf": null
            },
            "expected_close_date": null,
            "first_won_time": null,
            "id": 64070,
            "label_ids": [],
            "lost_reason": null,
            "lost_time": null,
            "org_id": null,
            "origin": "WebForms",
            "origin_id": "fa4bf570-2b77-11f0-baa4-ab4a858805b8",
            "owner_id": 3559832,
            "person_id": 71174,
            "pipeline_id": 183,
            "probability": null,
            "stage_change_time": null,
            "stage_id": 1325,
            "status": "open",
            "title": "[Neg Turma 56 2025 Google] Letícia Piazzetta",
            "update_time": null,
            "value": 0,
            "visible_to": "3",
            "won_time": null,
            "is_archived": false,
            "archive_time": null
          },
          "previous": null,
          "meta": {
            "action": "create",
            "company_id": "2396659",
            "correlation_id": "1c586fba-8122-4046-a061-0029bbce9908",
            "entity_id": "64070",
            "entity": "deal",
            "id": "baa9d8b4-f587-4219-b61a-382f7f5a6c89",
            "is_bulk_edit": false,
            "timestamp": "2025-06-10T14:29:41.759Z",
            "type": "general",
            "user_id": "3559832",
            "version": "2.0",
            "webhook_id": "1880073",
            "webhook_owner_id": "3559832",
            "change_source": "app",
            "attempt": 1,
            "host": "center-ao.pipedrive.com"
          }
        }
      }
    ]
  },
  "versionId": "fddd2d8e-9c87-41d1-ac73-7389cbe58237",
  "activeVersionId": "fddd2d8e-9c87-41d1-ac73-7389cbe58237",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-03-21T20:13:43.668Z",
      "createdAt": "2025-03-21T20:13:43.668Z",
      "role": "workflow:owner",
      "workflowId": "KSy6QHimpLbjZkJI",
      "projectId": "lrLYIwetv42aAH7x"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-25T16:33:10.313Z",
    "createdAt": "2025-11-25T16:33:10.313Z",
    "versionId": "fddd2d8e-9c87-41d1-ac73-7389cbe58237",
    "workflowId": "KSy6QHimpLbjZkJI",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.pipedriveTrigger",
        "typeVersion": 1,
        "position": [
          -440,
          0
        ],
        "id": "8454c243-e772-4704-8b61-a7eb39df7eab",
        "name": "Pipedrive Trigger",
        "webhookId": "adbca145-8c9a-48ee-b6b4-cab66bd2e93c",
        "credentials": {
          "pipedriveApi": {
            "id": "TLwmrhoVoFR3pFMt",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3c2b90a1-d326-4a40-94db-fb8269466b21",
                "name": "ID deal",
                "value": "={{ $json.data.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          640,
          0
        ],
        "id": "96095be3-bb0b-4163-ae12-38be05e96292",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "get",
          "dealId": "={{ $json[\"ID deal\"] }}"
        },
        "type": "n8n-nodes-base.pipedrive",
        "typeVersion": 1,
        "position": [
          880,
          0
        ],
        "id": "66f3d7e7-2a9a-4760-85f3-4c2494ac3715",
        "name": "Pipedrive",
        "credentials": {
          "pipedriveApi": {
            "id": "TLwmrhoVoFR3pFMt",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "08a346de-e8a0-47f3-b78f-6025e0a04283",
                "leftValue": "={{ $json.meta.action }}",
                "rightValue": "create",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -200,
          0
        ],
        "id": "fb1434b2-1a4e-40c8-95c9-d60f0f71908e",
        "name": "If"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sendflow.pro/a/MVIqHRPjZIuyX6GQoSQZ",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"apiKey\": \"c03a1f04-33ed-4a19-85d7-68a55ddc3d70\",\n  \"phoneNumber\": \"55{{ $json.person_id.phone[0].value }}\",\n  \"name\": \"{{ $json.person_id.name }}\"\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          0
        ],
        "id": "310b669a-23cd-47c1-8dbf-a27e7dbfd9cc",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "6a2045be-b315-491a-8db8-f2d262d752ec",
                "leftValue": "={{ $('Pipedrive Trigger').item.json.data.title }}",
                "rightValue": "[Neg Turma 56 2025 pag YY]",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "0446d481-54c4-479f-af00-005eb72f6da4",
                "leftValue": "={{ $('Pipedrive Trigger').item.json.data.title }}",
                "rightValue": "[Neg Turma 56 2025 pag CAO]",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "302645ab-3434-4793-a0c7-90380215a5d5",
                "leftValue": "={{ $('Pipedrive Trigger').item.json.data.title }}",
                "rightValue": "[Neg Turma 56 2025 Meta]",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "93e25b55-6106-444a-967e-10a2a8a9b50b",
                "leftValue": "={{ $('Pipedrive Trigger').item.json.data.title }}",
                "rightValue": "[Neg Turma 56 2025 Google]",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          220,
          -20
        ],
        "id": "87a2f1dc-2351-4d39-aa0e-5c0b7fed138e",
        "name": "If1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1140,
          520
        ],
        "id": "28be6033-3a82-45cf-ad09-cacd8d1c275a",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1K6QY5TQMT-V86GEm2BgmUx3qK5TiFepQDjmRGbJJP-E",
            "mode": "list",
            "cachedResultName": "[Center AO] Leads lista de espera",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K6QY5TQMT-V86GEm2BgmUx3qK5TiFepQDjmRGbJJP-E/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 63700338,
            "mode": "list",
            "cachedResultName": "Pós Graduação",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K6QY5TQMT-V86GEm2BgmUx3qK5TiFepQDjmRGbJJP-E/edit#gid=63700338"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Data": "={{ $('Pipedrive Trigger').item.json.data.add_time  }}",
              "Nome": "={{ $('Pipedrive').item.json.person_id.name }}",
              "Email": "={{ $('Pipedrive').item.json.person_id.email[0].value }}",
              "Telefone ": "={{ $('Pipedrive').item.json.person_id.phone[0].value }}"
            },
            "matchingColumns": [
              "Email"
            ],
            "schema": [
              {
                "id": "Data",
                "displayName": "Data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Nome",
                "displayName": "Nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Telefone ",
                "displayName": "Telefone ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Crm",
                "displayName": "Crm",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1240,
          120
        ],
        "id": "eeb8c713-c926-4d28-8815-b76cbef4f454",
        "name": "Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "W0R4Ys7oQXFuzbM4",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Pipedrive Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Pipedrive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pipedrive": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}