[dra.-márcia]-webhook-pedido-criado-woocommerce-|-woocomerce-sendflow-active-Onfq1rAT8vG0B7MU.json
{
  "updatedAt": "2026-01-22T11:52:29.423Z",
  "createdAt": "2025-11-04T16:23:19.796Z",
  "id": "Onfq1rAT8vG0B7MU",
  "name": "[Dra. Márcia] Webhook pedido criado woocommerce | Woocomerce Sendflow Active",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido-criado",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        0
      ],
      "id": "9b2ee770-984b-4943-b077-21922553aabe",
      "name": "Webhook",
      "webhookId": "4887dff7-b631-49d5-911d-8ad29483ab86"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sendflow.pro/a/EB70nG8ndnymq9hur0tO",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"apiKey\": \"5a6f4326-e239-44bc-9d20-56abe9753a5c\",\n  \"phoneNumber\": \"{{ $json.Telefone }}\",\n  \"name\": \"{{ $json.Nome }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -16
      ],
      "id": "4a8847e1-4b6d-46ba-8a40-0c175469d108",
      "name": "Onboarding liberdade"
    },
    {
      "parameters": {
        "jsCode": "// ================================\n// 1. Captura do telefone\n// ================================\nconst rawPhone = String(  $input.first().json.body.billing.phone || '');\n\n// ================================\n// 2. Remove tudo que não for número\n// ================================\nlet cleaned = rawPhone.replace(/\\D/g, '');\n\n// ================================\n// 3. Normalização\n// ================================\n\n// Caso: 10 dígitos (DDD + telefone antigo)\n// Ex: 549916354 → vira 5499916354\nif (cleaned.length === 10) {\n  cleaned = cleaned.slice(0, 2) + '9' + cleaned.slice(2);\n}\n\n// Caso: 11 dígitos sem código do país\n// Ex: 5499916354 → vira 55549916354\nif (cleaned.length === 11 && !cleaned.startsWith('55')) {\n  cleaned = '55' + cleaned;\n}\n\n// Caso: 12 dígitos (55 + telefone antigo)\nif (cleaned.length === 12 && cleaned.startsWith('55')) {\n  cleaned = '55' + cleaned.slice(2, 4) + '9' + cleaned.slice(4);\n}\n\n// Caso: 13 dígitos (já correto)\nif (cleaned.length === 13 && cleaned.startsWith('55')) {\n  // OK\n}\n\n// Fallback final — se ainda não tiver 13 dígitos, retorna vazio\nif (cleaned.length !== 13) {\n  cleaned = '';\n}\n\n// ================================\n// 4. Retorno\n// ================================\nreturn [\n  {\n    json: {\n      telefoneFormatado: cleaned\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -16
      ],
      "id": "71931524-c799-4e3c-8e52-7a183366e3fb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c8b8484-0aa7-472e-803e-77879178d86e",
              "name": "Nome",
              "value": "={{ $('Webhook').item.json.body.billing.first_name }} {{ $('Webhook').item.json.body.billing.last_name }}",
              "type": "string"
            },
            {
              "id": "1f4a2891-0af7-41c5-9d7c-4ba29495bfff",
              "name": "Telefone",
              "value": "={{ $json.telefoneFormatado }}",
              "type": "string"
            },
            {
              "id": "7d787eb2-107a-487f-9562-a94ce3b91d26",
              "name": "Primeiro Nome",
              "value": "={{ \n  ($('Webhook').item.json.body.meta_data[0].value || '')\n    .trim()\n    .split(/\\s+/)[0] \n}}",
              "type": "string"
            },
            {
              "id": "97fd22df-6a1d-49ef-97e2-1216fd38c1e6",
              "name": "Sobrenome",
              "value": "={{    ($('Webhook').item.json.body.meta_data[0].value || '')     .trim()     .split(/\\s+/)     .slice(1)     .join(' ') }}",
              "type": "string"
            },
            {
              "id": "41b533a4-469b-488f-9086-9f8471723a5f",
              "name": "Email",
              "value": "={{ $('Webhook').item.json.body.billing.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -16
      ],
      "id": "64052cc8-2038-4482-9dc3-e5ffd352f977",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        768,
        -16
      ],
      "id": "ca05d200-7d16-4df9-aca6-7af1e5bdd7a3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "email": "={{ $json.Email }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $json.Nome }}",
          "lastName": "={{ $json.Sobrenome }}",
          "phone": "={{ $json.Telefone }}"
        }
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        176,
        192
      ],
      "id": "eefa7f71-5bb1-4294-ac61-866de2964948",
      "name": "ActiveCampaign",
      "credentials": {
        "activeCampaignApi": {
          "id": "OhdCxnL5hg2HPyeD",
          "name": "Active dra. Márcia"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "15",
        "contactId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        352,
        192
      ],
      "id": "384e0e78-5cc2-4676-b9a2-c9de04a714b4",
      "name": "ActiveCampaign1",
      "credentials": {
        "activeCampaignApi": {
          "id": "OhdCxnL5hg2HPyeD",
          "name": "Active dra. Márcia"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 4,
        "contactId": "={{ $json.contact }}"
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        576,
        192
      ],
      "id": "17564773-c0f6-456e-a500-3a4031d57e66",
      "name": "ActiveCampaign2",
      "credentials": {
        "activeCampaignApi": {
          "id": "OhdCxnL5hg2HPyeD",
          "name": "Active dra. Márcia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "31aabf45-f038-485f-8748-ab87b4e73889",
              "leftValue": "={{ $json.body.line_items[0].name }}",
              "rightValue": "Mente Viva",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -432,
        0
      ],
      "id": "a5748264-eb8c-4148-adb8-4165ee262a9a",
      "name": "If"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Onboarding liberdade",
            "type": "main",
            "index": 0
          },
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding liberdade": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "ActiveCampaign1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign1": {
      "main": [
        [
          {
            "node": "ActiveCampaign2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook2025.faondigital.com.br",
            "user-agent": "WooCommerce/10.3.7 Hookshot (WordPress/6.9)",
            "content-length": "4452",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "x-forwarded-for": "45.126.210.82",
            "x-forwarded-host": "webhook2025.faondigital.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "252d6c58ebda",
            "x-real-ip": "45.126.210.82",
            "x-wc-webhook-delivery-id": "54df5327310e8e85d3031bbf94e332f1",
            "x-wc-webhook-event": "updated",
            "x-wc-webhook-id": "1",
            "x-wc-webhook-resource": "order",
            "x-wc-webhook-signature": "FUWezZ6757nGGqglB1/6/O9Timjl8HN/mp+2UiXzLkQ=",
            "x-wc-webhook-source": "https://center-ao.com.br/",
            "x-wc-webhook-topic": "order.updated"
          },
          "params": {},
          "query": {},
          "body": {
            "id": 98004,
            "parent_id": 0,
            "status": "processing",
            "currency": "BRL",
            "version": "10.3.7",
            "prices_include_tax": false,
            "date_created": "2026-01-14T11:51:00",
            "date_modified": "2026-01-14T11:51:00",
            "discount_total": "797.00",
            "discount_tax": "0.00",
            "shipping_total": "0.00",
            "shipping_tax": "0.00",
            "cart_tax": "0.00",
            "total": "0.00",
            "total_tax": "0.00",
            "customer_id": 0,
            "order_key": "wc_order_AM9qtdO275sVi",
            "billing": {
              "first_name": "Leticia piazzetta",
              "last_name": "",
              "company": "",
              "address_1": "rua general goes monteiro",
              "address_2": "",
              "city": "Bento",
              "state": "SP",
              "postcode": "95705-060",
              "country": "BR",
              "email": "leticia@faondigital.com.br",
              "phone": "(54) 99163-5474",
              "number": "111",
              "neighborhood": "HUmaiga",
              "persontype": "F",
              "cpf": "01914135008",
              "rg": "2115503266",
              "cnpj": "",
              "ie": "",
              "birthdate": "05-21-2003T00:00:00",
              "gender": "F",
              "cellphone": ""
            },
            "shipping": {
              "first_name": "",
              "last_name": "",
              "company": "",
              "address_1": "",
              "address_2": "",
              "city": "",
              "state": "",
              "postcode": "",
              "country": "",
              "phone": "",
              "number": "",
              "neighborhood": ""
            },
            "payment_method": "",
            "payment_method_title": "",
            "transaction_id": "",
            "customer_ip_address": "138.36.81.92",
            "customer_user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
            "created_via": "checkout",
            "customer_note": "",
            "date_completed": null,
            "date_paid": "2026-01-14T11:51:00",
            "cart_hash": "aeca7a3491fe4760ae28eaba6123bef1",
            "number": "98004",
            "meta_data": [
              {
                "id": 489039,
                "key": "_billing_nome",
                "value": "Leticia piazzetta"
              },
              {
                "id": 489040,
                "key": "_billing_persontype",
                "value": "1"
              },
              {
                "id": 489041,
                "key": "_billing_cpf",
                "value": "019.141.350-08"
              },
              {
                "id": 489042,
                "key": "_billing_rg",
                "value": "2115503266"
              },
              {
                "id": 489043,
                "key": "_billing_cnpj",
                "value": ""
              },
              {
                "id": 489044,
                "key": "_billing_ie",
                "value": ""
              },
              {
                "id": 489045,
                "key": "_billing_birthdate",
                "value": "21/05/2003"
              },
              {
                "id": 489046,
                "key": "_billing_gender",
                "value": "Feminino"
              },
              {
                "id": 489047,
                "key": "_billing_neighborhood",
                "value": "HUmaiga"
              },
              {
                "id": 489048,
                "key": "_billing_number",
                "value": "111"
              },
              {
                "id": 489049,
                "key": "is_vat_exempt",
                "value": "no"
              },
              {
                "id": 489050,
                "key": "billing_nome",
                "value": "Leticia piazzetta"
              },
              {
                "id": 489051,
                "key": "_wc_order_attribution_source_type",
                "value": "typein"
              },
              {
                "id": 489052,
                "key": "_wc_order_attribution_utm_source",
                "value": "(direct)"
              },
              {
                "id": 489053,
                "key": "_wc_order_attribution_session_entry",
                "value": "https://center-ao.com.br/IMERSAO/"
              },
              {
                "id": 489054,
                "key": "_wc_order_attribution_session_start_time",
                "value": "2026-01-14 12:24:50"
              },
              {
                "id": 489055,
                "key": "_wc_order_attribution_session_pages",
                "value": "3"
              },
              {
                "id": 489056,
                "key": "_wc_order_attribution_session_count",
                "value": "2"
              },
              {
                "id": 489057,
                "key": "_wc_order_attribution_user_agent",
                "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36"
              },
              {
                "id": 489058,
                "key": "_wc_order_attribution_device_type",
                "value": "Desktop"
              },
              {
                "id": 489078,
                "key": "_learn_press_order_id",
                "value": "98005"
              },
              {
                "id": 489080,
                "key": "_googlesitekit_ga_purchase_event_tracked",
                "value": "1"
              }
            ],
            "line_items": [
              {
                "id": 311,
                "name": "Mente Viva - Emoções",
                "product_id": 96691,
                "variation_id": 0,
                "quantity": 1,
                "tax_class": "",
                "subtotal": "797.00",
                "subtotal_tax": "0.00",
                "total": "0.00",
                "total_tax": "0.00",
                "taxes": [],
                "meta_data": [],
                "sku": "",
                "global_unique_id": "",
                "price": 0,
                "image": {
                  "id": "",
                  "src": ""
                },
                "parent_name": null
              }
            ],
            "tax_lines": [],
            "shipping_lines": [],
            "fee_lines": [],
            "coupon_lines": [
              {
                "id": 312,
                "code": "leticiateste100",
                "discount": "797",
                "discount_tax": "0",
                "meta_data": [
                  {
                    "id": 3145,
                    "key": "coupon_info",
                    "value": "[97685,\"leticiateste100\",\"percent\",100]",
                    "display_key": "coupon_info",
                    "display_value": "[97685,\"leticiateste100\",\"percent\",100]"
                  }
                ],
                "discount_type": "percent",
                "nominal_amount": 100,
                "free_shipping": false
              }
            ],
            "refunds": [],
            "payment_url": "https://center-ao.com.br/pagamento/order-pay/98004/?pay_for_order=true&key=wc_order_AM9qtdO275sVi",
            "is_editable": false,
            "needs_payment": false,
            "needs_processing": true,
            "date_created_gmt": "2026-01-14T14:51:00",
            "date_modified_gmt": "2026-01-14T14:51:00",
            "date_completed_gmt": null,
            "date_paid_gmt": "2026-01-14T14:51:00",
            "correios_tracking_code": "",
            "currency_symbol": "R$",
            "_links": {
              "self": [
                {
                  "href": "https://center-ao.com.br/wp-json/wc/v3/orders/98004",
                  "targetHints": {
                    "allow": [
                      "GET",
                      "POST",
                      "PUT",
                      "PATCH",
                      "DELETE"
                    ]
                  }
                }
              ],
              "collection": [
                {
                  "href": "https://center-ao.com.br/wp-json/wc/v3/orders"
                }
              ],
              "email_templates": [
                {
                  "embeddable": true,
                  "href": "https://center-ao.com.br/wp-json/wc/v3/orders/98004/actions/email_templates"
                }
              ]
            }
          },
          "webhookUrl": "https://webhook2025.faondigital.com.br/webhook/pedido-criado",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "24ed9313-1097-4099-bf32-7ea0d7516a02",
  "activeVersionId": "24ed9313-1097-4099-bf32-7ea0d7516a02",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-04T16:23:19.796Z",
      "createdAt": "2025-11-04T16:23:19.796Z",
      "role": "workflow:owner",
      "workflowId": "Onfq1rAT8vG0B7MU",
      "projectId": "lrLYIwetv42aAH7x"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-01-15T12:54:04.887Z",
    "createdAt": "2026-01-15T12:54:04.887Z",
    "versionId": "24ed9313-1097-4099-bf32-7ea0d7516a02",
    "workflowId": "Onfq1rAT8vG0B7MU",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "pedido-criado",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -608,
          0
        ],
        "id": "9b2ee770-984b-4943-b077-21922553aabe",
        "name": "Webhook",
        "webhookId": "4887dff7-b631-49d5-911d-8ad29483ab86"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sendflow.pro/a/EB70nG8ndnymq9hur0tO",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"apiKey\": \"5a6f4326-e239-44bc-9d20-56abe9753a5c\",\n  \"phoneNumber\": \"{{ $json.Telefone }}\",\n  \"name\": \"{{ $json.Nome }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          352,
          -16
        ],
        "id": "4a8847e1-4b6d-46ba-8a40-0c175469d108",
        "name": "Onboarding liberdade"
      },
      {
        "parameters": {
          "jsCode": "// ================================\n// 1. Captura do telefone\n// ================================\nconst rawPhone = String(  $input.first().json.body.billing.phone || '');\n\n// ================================\n// 2. Remove tudo que não for número\n// ================================\nlet cleaned = rawPhone.replace(/\\D/g, '');\n\n// ================================\n// 3. Normalização\n// ================================\n\n// Caso: 10 dígitos (DDD + telefone antigo)\n// Ex: 549916354 → vira 5499916354\nif (cleaned.length === 10) {\n  cleaned = cleaned.slice(0, 2) + '9' + cleaned.slice(2);\n}\n\n// Caso: 11 dígitos sem código do país\n// Ex: 5499916354 → vira 55549916354\nif (cleaned.length === 11 && !cleaned.startsWith('55')) {\n  cleaned = '55' + cleaned;\n}\n\n// Caso: 12 dígitos (55 + telefone antigo)\nif (cleaned.length === 12 && cleaned.startsWith('55')) {\n  cleaned = '55' + cleaned.slice(2, 4) + '9' + cleaned.slice(4);\n}\n\n// Caso: 13 dígitos (já correto)\nif (cleaned.length === 13 && cleaned.startsWith('55')) {\n  // OK\n}\n\n// Fallback final — se ainda não tiver 13 dígitos, retorna vazio\nif (cleaned.length !== 13) {\n  cleaned = '';\n}\n\n// ================================\n// 4. Retorno\n// ================================\nreturn [\n  {\n    json: {\n      telefoneFormatado: cleaned\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -208,
          -16
        ],
        "id": "71931524-c799-4e3c-8e52-7a183366e3fb",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0c8b8484-0aa7-472e-803e-77879178d86e",
                "name": "Nome",
                "value": "={{ $('Webhook').item.json.body.billing.first_name }} {{ $('Webhook').item.json.body.billing.last_name }}",
                "type": "string"
              },
              {
                "id": "1f4a2891-0af7-41c5-9d7c-4ba29495bfff",
                "name": "Telefone",
                "value": "={{ $json.telefoneFormatado }}",
                "type": "string"
              },
              {
                "id": "7d787eb2-107a-487f-9562-a94ce3b91d26",
                "name": "Primeiro Nome",
                "value": "={{ \n  ($('Webhook').item.json.body.meta_data[0].value || '')\n    .trim()\n    .split(/\\s+/)[0] \n}}",
                "type": "string"
              },
              {
                "id": "97fd22df-6a1d-49ef-97e2-1216fd38c1e6",
                "name": "Sobrenome",
                "value": "={{    ($('Webhook').item.json.body.meta_data[0].value || '')     .trim()     .split(/\\s+/)     .slice(1)     .join(' ') }}",
                "type": "string"
              },
              {
                "id": "41b533a4-469b-488f-9086-9f8471723a5f",
                "name": "Email",
                "value": "={{ $('Webhook').item.json.body.billing.email }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          -16
        ],
        "id": "64052cc8-2038-4482-9dc3-e5ffd352f977",
        "name": "Edit Fields"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          768,
          -16
        ],
        "id": "ca05d200-7d16-4df9-aca6-7af1e5bdd7a3",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "email": "={{ $json.Email }}",
          "updateIfExists": true,
          "additionalFields": {
            "firstName": "={{ $json.Nome }}",
            "lastName": "={{ $json.Sobrenome }}",
            "phone": "={{ $json.Telefone }}"
          }
        },
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          176,
          192
        ],
        "id": "eefa7f71-5bb1-4294-ac61-866de2964948",
        "name": "ActiveCampaign",
        "credentials": {
          "activeCampaignApi": {
            "id": "OhdCxnL5hg2HPyeD",
            "name": "Active dra. Márcia"
          }
        }
      },
      {
        "parameters": {
          "resource": "contactTag",
          "tagId": "15",
          "contactId": "={{ $json.id }}"
        },
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          352,
          192
        ],
        "id": "384e0e78-5cc2-4676-b9a2-c9de04a714b4",
        "name": "ActiveCampaign1",
        "credentials": {
          "activeCampaignApi": {
            "id": "OhdCxnL5hg2HPyeD",
            "name": "Active dra. Márcia"
          }
        }
      },
      {
        "parameters": {
          "resource": "contactList",
          "listId": 4,
          "contactId": "={{ $json.contact }}"
        },
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          576,
          192
        ],
        "id": "17564773-c0f6-456e-a500-3a4031d57e66",
        "name": "ActiveCampaign2",
        "credentials": {
          "activeCampaignApi": {
            "id": "OhdCxnL5hg2HPyeD",
            "name": "Active dra. Márcia"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "31aabf45-f038-485f-8748-ab87b4e73889",
                "leftValue": "={{ $json.body.line_items[0].name }}",
                "rightValue": "Mente Viva",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -432,
          0
        ],
        "id": "a5748264-eb8c-4148-adb8-4165ee262a9a",
        "name": "If"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Onboarding liberdade",
              "type": "main",
              "index": 0
            },
            {
              "node": "ActiveCampaign",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Onboarding liberdade": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ActiveCampaign": {
        "main": [
          [
            {
              "node": "ActiveCampaign1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ActiveCampaign1": {
        "main": [
          [
            {
              "node": "ActiveCampaign2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ActiveCampaign2": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Letícia Piazzetta",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}