[fred]-compradores-fortaleza-hotmart-botconversa-clint-oQm9q0PyoVMi06GQ.json
{
  "updatedAt": "2026-03-24T11:50:02.420Z",
  "createdAt": "2025-09-08T14:31:24.368Z",
  "id": "oQm9q0PyoVMi06GQ",
  "name": "[Fred] Compradores Fortaleza Hotmart-Botconversa-Clint",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fred-fortaleza-teatro",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -120,
        100
      ],
      "id": "4f79b240-0ebf-4e77-a3f0-70a31594648a",
      "name": "Webhook",
      "webhookId": "8857d64c-5f4d-47bf-8547-8f292a3350e7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cffffa45-9cb7-436d-b02b-104741e74ca4",
              "name": "Nome",
              "value": "={{ $('Webhook').item.json.body.data.buyer.name }}",
              "type": "string"
            },
            {
              "id": "0fcf7389-3181-4991-ab4a-8174aa91a476",
              "name": "Email",
              "value": "={{ $('Webhook').item.json.body.data.buyer.email }}",
              "type": "string"
            },
            {
              "id": "47c483ac-6dca-46d8-94d8-4dd783fd2150",
              "name": "Telefone",
              "value": "={{ $json.Telefoneformatado }}",
              "type": "string"
            },
            {
              "id": "a6966c5f-55c6-4e1d-9bc0-79ff53da9610",
              "name": "DDD",
              "value": "={{ $json.DDD }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        100
      ],
      "id": "e7d24985-00a7-4b91-a67b-ead8b424e8b8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://new-backend.botconversa.com.br/api/v1/webhooks-automation/catch/154398/2LPCBc0gUjrr/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $json.Nome }}"
            },
            {
              "name": "Email",
              "value": "={{ $json.Email }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $json.Telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        0
      ],
      "id": "f6ebf5a1-b8bd-4294-9b4d-8d144253c78b",
      "name": "HTTP Botconversa Comprar"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1080,
        120
      ],
      "id": "72138e55-8c11-462e-9fda-2356353f719d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone da entrada\nconst rawPhone = $input.first().json.body.data.buyer.checkout_phone;\n\n// Remove tudo que não for número\nconst cleanedPhone = rawPhone.replace(/\\D/g, '');\n\n// Garante que o número esteja no formato com DDI 55\nlet phone = cleanedPhone;\n\n// Se o número começar com \"0\" ou não tiver \"55\", ajusta\nif (!phone.startsWith('55')) {\n  // Se o número tem 11 dígitos (DDD + número), adiciona 55\n  if (phone.length === 11) {\n    phone = '55' + phone;\n  }\n}\n\n// Extrai o DDD (após o 55, os dois próximos dígitos)\nconst ddd = phone.substring(2, 4);\n\n// Retorna os dois campos no formato esperado\nreturn [\n  {\n    json: {\n      Telefoneformatado: phone,\n      DDD: ddd\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        100
      ],
      "id": "55238d1e-5236-465f-892c-1927578279d6",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55ccbb82-676f-4ff7-a9bf-be7965f022f7",
              "leftValue": "={{ $json.DDD }}",
              "rightValue": "85",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        100
      ],
      "id": "4937099f-72ac-49be-ab6d-0ab490369df9",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://functions-api.clint.digital/endpoints/integration/webhook/8bbf2f67-e01f-4953-a6c5-02d9709419c5",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $('Edit Fields').item.json.Nome }}"
            },
            {
              "name": "Email",
              "value": "={{ $('Edit Fields').item.json.Email }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $('Edit Fields').item.json.Telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        -180
      ],
      "id": "3f5eadef-a3e6-4426-b185-cdbddce3b1e4",
      "name": "HTTP Clint"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Botconversa Comprar": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Botconversa Comprar",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Clint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Clint": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "C0JGoY8oqU3Vhsgx"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook2025.faondigital.com.br",
            "user-agent": "Jodd HTTP",
            "content-length": "2167",
            "content-type": "application/json",
            "x-forwarded-for": "44.221.82.69",
            "x-forwarded-host": "webhook2025.faondigital.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "252d6c58ebda",
            "x-hotmart-hottok": "Dohp3MDQas9iC2iYaSGH03NryWBkPy9c79c1a7-b0f3-4557-ad0e-d06dba581d91",
            "x-real-ip": "44.221.82.69",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "support_email": "produtos@fredelboni.com.br",
                "has_co_production": false,
                "name": "E-Book: O Que Os Olhos Não Veem, Mas O Coração Sente",
                "warranty_date": "2025-08-25T00:00:00Z",
                "is_physical_product": false,
                "id": 1551562,
                "ucode": "afc13be8-bb00-4400-ab8e-d0abd9c74cac"
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 0.2
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 0.8
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 1
                },
                "subscription_anticipation_purchase": false,
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "origin": {
                  "src": "direto"
                },
                "order_bump": {
                  "is_order_bump": false
                },
                "approved_date": 1755549361000,
                "offer": {
                  "code": "9oamzoox",
                  "coupon_code": "FRED99",
                  "description": "Acesso Imediato"
                },
                "is_funnel": true,
                "order_date": 1755549319000,
                "price": {
                  "currency_value": "BRL",
                  "value": 1
                },
                "payment": {
                  "pix_qrcode": "https://live-us.adyen.com/hpp/generateQRCodeImage.shtml?url=00020101021226900014br.gov.bcb.pix2568pix.adyen.com%2Fpixqrcodelocation%2Fpixloc%2Fv1%2Floc%2FDEUdTPghR0aucbKQhWIRjA5204000053039865802BR5902HT6009SAO+PAULO62070503***63042F14",
                  "pix_expiration_date": 1755722119000,
                  "installments_number": 1,
                  "type": "PIX",
                  "pix_code": "00020101021226900014br.gov.bcb.pix2568pix.adyen.com/pixqrcodelocation/pixloc/v1/loc/DEUdTPghR0aucbKQhWIRjA5204000053039865802BR5902HT6009SAO PAULO62070503***63042F14"
                },
                "full_price": {
                  "currency_value": "BRL",
                  "value": 1
                },
                "business_model": "I",
                "invoice_by": "HOTMART",
                "transaction": "HP1515693791",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "",
                  "name": ""
                }
              ],
              "producer": {
                "legal_nature": "Pessoa Jurídica",
                "document": "23168282000136",
                "name": "Quimo Serviços Ltda - ME"
              },
              "buyer": {
                "checkout_phone_code": "21",
                "address": {
                  "zipcode": "",
                  "country": "Brasil",
                  "address": "",
                  "city": "",
                  "complement": "",
                  "country_iso": "BR"
                },
                "document": "14876379777",
                "name": "Laiana Farias ",
                "last_name": "Farias",
                "checkout_phone": "21983652727",
                "first_name": "Laiana",
                "email": "laianaf7@gmail.com",
                "document_type": "CPF"
              }
            },
            "hottok": "Dohp3MDQas9iC2iYaSGH03NryWBkPy9c79c1a7-b0f3-4557-ad0e-d06dba581d91",
            "id": "b8c27f33-9a7d-4da3-9d41-28673f9aec1b",
            "creation_date": 1755549371682,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://webhook2025.faondigital.com.br/webhook/fred-compra-aprovada-rj",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "5a65bdd8-5604-4376-88a9-3e4dd0709ce5",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-08T14:31:24.368Z",
      "createdAt": "2025-09-08T14:31:24.368Z",
      "role": "workflow:owner",
      "workflowId": "oQm9q0PyoVMi06GQ",
      "projectId": "lrLYIwetv42aAH7x"
    }
  ],
  "activeVersion": null,
  "tags": []
}