[fred]-superar-término-compra-aprovada-|-hotmart-botconversa-94cUXmhHki7GI4fD.json
{
  "updatedAt": "2026-03-24T11:49:45.442Z",
  "createdAt": "2026-02-03T13:21:55.062Z",
  "id": "94cUXmhHki7GI4fD",
  "name": "[Fred] Superar Término Compra Aprovada | Hotmart Botconversa",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fred-superar-ca",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -992,
        128
      ],
      "id": "9e15893c-120f-4351-ad26-b3dcea0e118d",
      "name": "Webhook",
      "webhookId": "42a07b19-d463-4832-9aa4-86ca39b1c139"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cffffa45-9cb7-436d-b02b-104741e74ca4",
              "name": "Nome",
              "value": "={{ $('Webhook').item.json.body.data.buyer.name }}",
              "type": "string"
            },
            {
              "id": "0fcf7389-3181-4991-ab4a-8174aa91a476",
              "name": "Email",
              "value": "={{ $('Webhook').item.json.body.data.buyer.email }}",
              "type": "string"
            },
            {
              "id": "47c483ac-6dca-46d8-94d8-4dd783fd2150",
              "name": "Telefone",
              "value": "={{ $json.Telefoneformatado }}",
              "type": "string"
            },
            {
              "id": "a6966c5f-55c6-4e1d-9bc0-79ff53da9610",
              "name": "DDD",
              "value": "={{ $json.DDD }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        128
      ],
      "id": "18746b7d-8653-47da-8912-da0abc8b5a7b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://new-backend.botconversa.com.br/api/v1/webhooks-automation/catch/154398/NuygtuBc37rN/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $json.Nome }}"
            },
            {
              "name": "Email",
              "value": "={{ $json.Email }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $json.Telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        128
      ],
      "id": "f62d834c-5ec0-4ea2-b5b7-7ce4798541c7",
      "name": "HTTP Botconversa Comprar"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -48,
        128
      ],
      "id": "5fd6daeb-981c-44e7-8a1f-a63511b7d3d9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone da entrada\nconst rawPhone = $input.first().json.body.data.buyer.checkout_phone;\n\n// Remove tudo que não for número\nconst cleanedPhone = rawPhone.replace(/\\D/g, '');\n\n// Garante que o número esteja no formato com DDI 55\nlet phone = cleanedPhone;\n\n// Se o número começar com \"0\" ou não tiver \"55\", ajusta\nif (!phone.startsWith('55')) {\n  // Se o número tem 11 dígitos (DDD + número), adiciona 55\n  if (phone.length === 11) {\n    phone = '55' + phone;\n  }\n}\n\n// Extrai o DDD (após o 55, os dois próximos dígitos)\nconst ddd = phone.substring(2, 4);\n\n// Retorna os dois campos no formato esperado\nreturn [\n  {\n    json: {\n      Telefoneformatado: phone,\n      DDD: ddd\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        128
      ],
      "id": "e59782bb-f519-40ca-9d20-068b912f5fdd",
      "name": "Code"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Botconversa Comprar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Botconversa Comprar": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook2025.faondigital.com.br",
            "user-agent": "Jodd HTTP",
            "content-length": "2181",
            "content-type": "application/json",
            "x-forwarded-for": "52.90.246.51",
            "x-forwarded-host": "webhook2025.faondigital.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "252d6c58ebda",
            "x-hotmart-hottok": "Dohp3MDQas9iC2iYaSGH03NryWBkPy9c79c1a7-b0f3-4557-ad0e-d06dba581d91",
            "x-real-ip": "52.90.246.51",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "support_email": "support@hotmart.com.br",
                "has_co_production": false,
                "name": "Produto test postback2",
                "warranty_date": "2017-12-27T00:00:00Z",
                "is_physical_product": false,
                "id": 0,
                "ucode": "fb056612-bcc6-4217-9e6d-2a5d1110ac2f",
                "content": {
                  "has_physical_products": true,
                  "products": [
                    {
                      "name": "How to Make Clear Ice",
                      "is_physical_product": false,
                      "id": 4774438,
                      "ucode": "559fef42-3406-4d82-b775-d09bd33936b1"
                    },
                    {
                      "name": "Organizador de Poeira",
                      "is_physical_product": true,
                      "id": 4999597,
                      "ucode": "099e7644-b7d1-43d6-82a9-ec6be0118a4b"
                    }
                  ]
                }
              },
              "commissions": [
                {
                  "currency_value": "BRL",
                  "source": "MARKETPLACE",
                  "value": 149.5
                },
                {
                  "currency_value": "BRL",
                  "source": "PRODUCER",
                  "value": 1350.5
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "sckPaymentLink": "sckPaymentLinkTest",
                "order_bump": {
                  "parent_purchase_transaction": "HP02316330308193",
                  "is_order_bump": true
                },
                "approved_date": 1511783346000,
                "offer": {
                  "code": "test",
                  "coupon_code": "SHHUHA"
                },
                "is_funnel": false,
                "event_tickets": {
                  "amount": 1770124411712
                },
                "order_date": 1511783344000,
                "price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "payment": {
                  "installments_number": 12,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "BRL",
                  "value": 1500
                },
                "business_model": "I",
                "transaction": "HP16015479281022",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "Q58388177J",
                  "name": "Affiliate name"
                }
              ],
              "producer": {
                "legal_nature": "Pessoa Física",
                "document": "12345678965",
                "name": "Producer Test Name"
              },
              "subscription": {
                "subscriber": {
                  "code": "I9OT62C3"
                },
                "plan": {
                  "name": "plano de teste",
                  "id": 123
                },
                "status": "ACTIVE"
              },
              "buyer": {
                "checkout_phone_code": "999999999",
                "address": {
                  "zipcode": "38400123",
                  "country": "Brasil",
                  "number": "10",
                  "address": "Avenida Francisco Galassi",
                  "city": "Uberlândia",
                  "state": "Minas Gerais",
                  "neighborhood": "Tubalina",
                  "complement": "Perto do shopping",
                  "country_iso": "BR"
                },
                "document": "69526128664",
                "name": "Teste Comprador",
                "last_name": "Comprador",
                "checkout_phone": "99999999900",
                "first_name": "Teste",
                "email": "testeComprador271101postman15@example.com",
                "document_type": "CPF"
              }
            },
            "id": "7dfeb405-574b-4bae-81ac-bd34386931c9",
            "creation_date": 1770124411730,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://webhook2025.faondigital.com.br/webhook/fred-ca",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "fd1e44e1-1bde-43fe-b89b-e50bf97b0d57",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-03T13:21:55.062Z",
      "createdAt": "2026-02-03T13:21:55.062Z",
      "role": "workflow:owner",
      "workflowId": "94cUXmhHki7GI4fD",
      "projectId": "lrLYIwetv42aAH7x"
    }
  ],
  "activeVersion": null,
  "tags": []
}