[márcia]-lista-de-espera-pós-2026-pipedrive-active-SyoCwUe45DVgxn4g.json
{
  "updatedAt": "2026-05-25T14:45:33.254Z",
  "createdAt": "2025-08-20T14:30:25.523Z",
  "id": "SyoCwUe45DVgxn4g",
  "name": "[Márcia] Lista de Espera Pós 2026 Pipedrive Active",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.pipedriveTrigger",
      "typeVersion": 1.1,
      "position": [
        -512,
        0
      ],
      "id": "b2e3c390-3de9-46be-a858-62f469168c8f",
      "name": "Pipedrive Trigger",
      "webhookId": "e215fd5c-1882-4d31-9e4e-79fd38fbd722",
      "credentials": {
        "pipedriveApi": {
          "id": "TLwmrhoVoFR3pFMt",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9102be7e-be32-42fc-824b-91d26ac552ec",
              "name": "Data",
              "value": "={{    new Date().toLocaleString('pt-BR', {      timeZone: 'America/Sao_Paulo',     day: '2-digit',     month: '2-digit',     year: 'numeric',     hour: '2-digit',     minute: '2-digit'   }).replace(',', '') }}",
              "type": "string"
            },
            {
              "id": "983193a9-7490-4f0c-a888-9e4edcb4db5c",
              "name": "Primeiro Nome",
              "value": "={{ $('HTTP Pipedrive Person').item.json.data.first_name }}",
              "type": "string"
            },
            {
              "id": "84e3e1d4-75d9-441e-b3f0-cd2b54f86d4b",
              "name": "Último Nome",
              "value": "={{ $('HTTP Pipedrive Person').item.json.data.last_name }}",
              "type": "string"
            },
            {
              "id": "88a92bcc-1aa6-4c54-94d4-eb3b894964ca",
              "name": "Email",
              "value": "={{ $('HTTP Pipedrive Person').item.json.data.email[0].value }}",
              "type": "string"
            },
            {
              "id": "31cdadf9-fa7c-4f7c-b988-92d0009182c6",
              "name": "DDD",
              "value": "={{ $json.ddd }}",
              "type": "string"
            },
            {
              "id": "113ec366-9218-49a6-b507-783dbaa950ac",
              "name": "Telefone",
              "value": "={{ $json.telefonePadronizado }}",
              "type": "string"
            },
            {
              "id": "3f0c133f-ff82-4cef-9951-4db0b6ac9391",
              "name": "CRM",
              "value": "={{ $('HTTP Pipedrive Person').item.json.data['487088fb302d80a85669079afe41a91a21fd45ff'] }}",
              "type": "string"
            },
            {
              "id": "3b4d256b-68b2-4ab6-b109-e5864cd2b676",
              "name": "Profissional",
              "value": "={{ $('HTTP Pipedrive Person').item.json.data['334747750ddbc82c2010b5a75da2d82b3bf71783'] }}",
              "type": "string"
            },
            {
              "id": "67be04d4-9287-45ff-99f6-4efe20b56e52",
              "name": "UF",
              "value": "={{ $json.uf }}",
              "type": "string"
            },
            {
              "id": "b2c546fb-2e79-427f-94a0-6bc42963d4c8",
              "name": "Mensagem",
              "value": "={{ $('HTTP Pipedrive Person').item.json.data['53e2271622f39f32eecdb9e3c746fd69630e7366'] }}",
              "type": "string"
            },
            {
              "id": "02fb411b-69b9-4a00-9268-e9ca64b985cb",
              "name": "Pipeline ID",
              "value": "={{ $('Pipedrive Trigger').item.json.data.pipeline_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        0
      ],
      "id": "d8f1deec-3458-459c-a643-43fc12e4de9a",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1424,
        32
      ],
      "id": "0c461180-9136-4d77-ab28-379e101d5b69",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0c78a24-0d95-4ca0-9273-a155f7af9228",
              "leftValue": "={{ $json['Pipeline ID'] }}",
              "rightValue": "196",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        0
      ],
      "id": "bf39875b-159d-455a-9deb-f6caf7e9a4b4",
      "name": "If"
    },
    {
      "parameters": {
        "email": "={{ $json.Email }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "4",
                "value": "={{ $json.DDD }}"
              },
              {
                "field": "1",
                "value": "={{ $json.Profissional }}"
              },
              {
                "field": "2",
                "value": "={{ $json.UF }}"
              },
              {
                "field": "7",
                "value": "={{ $json.Mensagem }}"
              },
              {
                "field": "3",
                "value": "={{ $json.CRM }}"
              }
            ]
          },
          "firstName": "={{ $json['Primeiro Nome'] }}",
          "lastName": "={{ $json['Último Nome'] }}",
          "phone": "={{ $json.Telefone }}"
        }
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        784,
        -96
      ],
      "id": "ad536673-4401-499c-87c2-d0824ac51868",
      "name": "ActiveCampaign",
      "credentials": {
        "activeCampaignApi": {
          "id": "OhdCxnL5hg2HPyeD",
          "name": "Active dra. Márcia"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "13",
        "contactId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1008,
        -96
      ],
      "id": "72d653e7-325b-4c3b-8bc6-479d14d0f18c",
      "name": "ActiveCampaign1",
      "credentials": {
        "activeCampaignApi": {
          "id": "OhdCxnL5hg2HPyeD",
          "name": "Active dra. Márcia"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 7,
        "contactId": "={{ $json.contact }}"
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1184,
        -96
      ],
      "id": "b38a5563-bdd0-43f6-b266-3809a820f4f8",
      "name": "ActiveCampaign2",
      "credentials": {
        "activeCampaignApi": {
          "id": "OhdCxnL5hg2HPyeD",
          "name": "Active dra. Márcia"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sendflow.pro/a/vV9VebSZg7w023jcvfDS",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"apiKey\": \"37e290c1-7110-4353-8f4f-b74f5057e915\",\n  \"phoneNumber\": \"{{ $json.Telefone }}\",\n  \"name\": \"{{ $json['Primeiro Nome'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        -320
      ],
      "id": "a09f6c4d-cba6-48e2-8a81-e1e807727d20",
      "name": "HTTP Sendflow"
    },
    {
      "parameters": {
        "jsCode": "// ================================\n// 1. Captura do objeto principal\n// ================================\nconst pessoa = $input.first().json.data[0];\n\n// ================================\n// 2. Captura do telefone\n// ================================\nconst telefoneOriginal = pessoa.phone?.[0]?.value || '';\n\n// ================================\n// 3. Remove tudo que não for número\n// ================================\nlet telefone = telefoneOriginal.replace(/\\D/g, '');\n\n// ================================\n// 4. Remove código do país (55), se existir\n// ================================\nif (telefone.startsWith('55')) {\n  telefone = telefone.substring(2);\n}\n\n// ================================\n// 5. Extrai DDD e número\n// ================================\nconst ddd = telefone.substring(0, 2);\nlet numero = telefone.substring(2);\n\n// ================================\n// 6. Garante o dígito 9 (celular)\n// ================================\nif (numero.length === 8) {\n  numero = '9' + numero;\n}\n\n// ================================\n// 7. Monta telefone padronizado\n// ================================\nconst telefonePadronizado = `55${ddd}${numero}`;\n\n// ================================\n// 8. Captura o código da UF vindo do Pipedrive\n// ================================\nconst codigoUF = pessoa['f77f5009ce48d7b62427c2d0961522f1830eb66e'];\n\n// ================================\n// 9. Mapa código → UF\n// ================================\nconst mapaUF = {\n  6050: \"AC\",\n  6051: \"AL\",\n  6052: \"AP\",\n  6053: \"AM\",\n  6054: \"BA\",\n  6055: \"CE\",\n  6056: \"DF\",\n  6057: \"ES\",\n  6058: \"GO\",\n  6059: \"MA\",\n  6060: \"MT\",\n  6061: \"MS\",\n  6062: \"MG\",\n  6063: \"PA\",\n  6064: \"PB\",\n  6065: \"PR\",\n  6066: \"PE\",\n  6067: \"PI\",\n  6068: \"RJ\",\n  6069: \"RN\",\n  6070: \"RS\",\n  6071: \"RO\",\n  6072: \"RR\",\n  6073: \"SC\",\n  6074: \"SP\",\n  6075: \"SE\",\n  6076: \"TO\"\n};\n\n// ================================\n// 10. Resolve a UF\n// ================================\nconst uf = mapaUF[codigoUF] || \"\";\n\n// ================================\n// 11. Retorno\n// ================================\nreturn {\n  ddd,\n  telefonePadronizado,\n  uf\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        0
      ],
      "id": "b5bf4e28-66a7-4f55-a135-81a97fb46c5f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://api.pipedrive.com/v1/persons/{{ $json.data.person_id }}?api_token=0d41365876c960f504fbf6f8ca965564a77d2b04 ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        0
      ],
      "id": "50b70c05-3ab9-4a13-9c09-75c2b7e668ab",
      "name": "HTTP Pipedrive Person"
    }
  ],
  "connections": {
    "Pipedrive Trigger": {
      "main": [
        [
          {
            "node": "HTTP Pipedrive Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Sendflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "ActiveCampaign1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign1": {
      "main": [
        [
          {
            "node": "ActiveCampaign2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Sendflow": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Pipedrive Person": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Pipedrive Trigger": {
      "webhookId": 1872172
    },
    "node:Pipedrive Trigger1": {}
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Pipedrive Trigger": [
      {
        "json": {
          "data": {
            "add_time": "2023-06-13T23:42:18Z",
            "custom_fields": {
              "0ac21466dd9405ef96456ab46ee07d0aff93766e": null,
              "a58c7a5981502e45f08c88ae54379fb16387547f": null,
              "afdc336357872c02bdc64441d1ee8030a4d8246d": null,
              "4482d9a5d59078b5828ccced3f95b437cda0a316": null,
              "d2f0736634dce00a7b48469a996457c766b845c1": {
                "values": [
                  {
                    "id": 23457
                  },
                  {
                    "id": 23353
                  }
                ],
                "type": "set"
              },
              "2b34b90d9791c9c12fd373282f82229cb5018ce4": null,
              "40b154c8d055c26aef94c68d7b004cda337bc755": {
                "id": 8236,
                "type": "enum"
              },
              "dcce7bb0b69f86d15acb62ddb822da739ff0a641": null,
              "0bffb85c17d38427b71fe0bc14da7338826ef4b9": null,
              "115c5d0d43ff54a826c44b352505459c15999eff": null,
              "9f2fd29b06c3aabe326183adf3cc032ee7fd60a6": null,
              "f77f5009ce48d7b62427c2d0961522f1830eb66e": {
                "id": 6074,
                "type": "enum"
              },
              "7094f1773407a5218d265aafdd92b3d789d0b634": null,
              "154d0abd4993ef967ec894cd0d7da3fa178ff584": {
                "type": "varchar",
                "value": "Já sou médico acupunturista"
              },
              "b86aa7687c10bc080c93a2286f7108395e82ff56": null,
              "bfb93b4fe57a8b7d2122fa0652b308f6a4312f1d": null,
              "28bc0b8997ce99f3f2ac64f544a20c1a28a35816": null,
              "87aa301f9f044508146665af39ff0f6384a20d47": {
                "values": [
                  {
                    "id": 5652
                  },
                  {
                    "id": 23577
                  },
                  {
                    "id": 5831
                  },
                  {
                    "id": 23396
                  },
                  {
                    "id": 5656
                  },
                  {
                    "id": 23525
                  },
                  {
                    "id": 17465
                  },
                  {
                    "id": 5658
                  },
                  {
                    "id": 5647
                  },
                  {
                    "id": 23393
                  },
                  {
                    "id": 5642
                  },
                  {
                    "id": 23417
                  },
                  {
                    "id": 23439
                  },
                  {
                    "id": 5655
                  },
                  {
                    "id": 5662
                  },
                  {
                    "id": 5663
                  },
                  {
                    "id": 23536
                  },
                  {
                    "id": 5666
                  },
                  {
                    "id": 5649
                  },
                  {
                    "id": 23544
                  },
                  {
                    "id": 5650
                  },
                  {
                    "id": 23412
                  },
                  {
                    "id": 23487
                  },
                  {
                    "id": 5643
                  },
                  {
                    "id": 23416
                  },
                  {
                    "id": 23410
                  },
                  {
                    "id": 5641
                  },
                  {
                    "id": 23415
                  },
                  {
                    "id": 23427
                  },
                  {
                    "id": 5645
                  },
                  {
                    "id": 23413
                  },
                  {
                    "id": 11799
                  },
                  {
                    "id": 23528
                  },
                  {
                    "id": 17466
                  },
                  {
                    "id": 23450
                  },
                  {
                    "id": 23516
                  }
                ],
                "type": "set"
              },
              "d8534973fbbed8e5d5f52b1e85e6b537987e2b19": null,
              "ebc349dc21c16f904c0ad0af94d16fe51ddac2b1": {
                "type": "varchar",
                "value": "Rua Lucinda Rabello"
              },
              "3016ca06ba78616949414fefb42c370a4325c3c3": null,
              "4c928dddf6da1eaeb9fb53a1cdcb7cf7c64b542e": {
                "id": 5824,
                "type": "enum"
              },
              "5ca74d4280014f8d55a2b23d132ba5a18586c174": {
                "type": "double",
                "value": 7063
              },
              "7575773bbf2fc31d0ffdbfe19486716eecb4f6fd": {
                "type": "date",
                "value": "1964-09-09"
              },
              "31b58db920bbcfc9722102c457405eaa7b3fadb1": null,
              "3bd49625c64e8056a39f7e0926b10a9d84bcfd39": null,
              "48b4e851089adf50858ec900ea817e893ac3e94e": null,
              "75366da63333af3ecbb70879f882c45432d74b75": null,
              "334747750ddbc82c2010b5a75da2d82b3bf71783": {
                "id": 2,
                "type": "enum"
              },
              "76812bd413b7830c1a7890de9e81f286537406fe": null,
              "abc02178c5c35bd189236404afd1827d47c90d99": {
                "values": [
                  {
                    "id": 30
                  }
                ],
                "type": "set"
              },
              "380544a9344190f781b8b37cfbe18e3e56022cc2": null,
              "8584eef8d5535420a3c9c11b5f790ee8d38b21de": null,
              "d9b1ac027dc7ffcc01167b5868b92c514ebcc1eb": null,
              "47647b7b68884b6331eee22a037c342ebe96bc4d": {
                "values": [
                  {
                    "id": 17440
                  },
                  {
                    "id": 17439
                  },
                  {
                    "id": 17442
                  }
                ],
                "type": "set"
              },
              "d0df700c12438227b5ee46f1773fe06c740bca0c": null,
              "1eb99a927166936ba6e2eb82dd346eefd59fe038": null,
              "8a1560997a6ab74317002c5d779a7bd8fcd48fed": null,
              "b82150fc84fcbfaa2fd2b07d4c1b79858580ef6f": null,
              "a7f8b170a73b149df771004b7f02411a4b2b1d53": null,
              "66f4a58253ad3aa3416115ebbde83677494fded2": {
                "type": "varchar",
                "value": ""
              },
              "42557059c1c0301700df8dcdf359158959456228": null,
              "ccd24ab62dcaeb0c0f76069ce65774fb1d165275": {
                "type": "varchar",
                "value": "Oftalmologia, Aplicação na oftalmologia"
              },
              "7c2a7fcd54887975b582404daf88565eef4be4c3": {
                "id": 17432,
                "type": "enum"
              },
              "d0b59fd6f5afbe2af80b5f241690929707da47ba": null,
              "8b3801a990e560674f510b4aa4a5550f84c589e4": null,
              "a949ccafc83cbf9480784a65bd2cd4368ea88dc4": null,
              "e8679afb73fca6d5d127840349adb093c2643c17": null,
              "f984c790ec3e796b50dabedae03e2413db170bb0": null,
              "fdb79cc7bd143ca7a7cec48428c4a5ad7f6123b9": {
                "values": [
                  {
                    "id": 23564
                  },
                  {
                    "id": 5820
                  },
                  {
                    "id": 23446
                  }
                ],
                "type": "set"
              },
              "721553cf6c866e2a27669002ca1f33a5aac29936": null,
              "5960b85041ab20114b4ec5674a666bb842935662": {
                "id": 17443,
                "type": "enum"
              },
              "902f1c92f686a3a5d562cfb2b52eac36a4bcc4f6": {
                "id": 5855,
                "type": "enum"
              },
              "694c334d9d0f5eb139606c722476580f7f828440": {
                "type": "double",
                "value": -6646370869
              },
              "bb9bbc3bdf47fd9a0577bd354d9f5c29934fa49b": null,
              "f1d43fc90b764c2ac1078a009ad5633235b28a2a": null,
              "6d546b095a0696cd8aebc5b0d098bac48f2c7fb2": {
                "type": "date",
                "value": "2023-07-13"
              },
              "487088fb302d80a85669079afe41a91a21fd45ff": {
                "type": "varchar",
                "value": "63071"
              },
              "53e2271622f39f32eecdb9e3c746fd69630e7366": null,
              "400345dc77a6a96071b0f0b633f7302b5127cf8a": null,
              "2b80ce82efb61dd014d69a4d471354abaf95113c": null,
              "5f290a2204689eaefae628f104dd12486a777308": {
                "id": 17620,
                "type": "enum"
              },
              "3c48bf2c9e25f5eebfc301c87394787982f0e1d9": null,
              "ce0c71feca0946f5b4b2b22043c1542c8d05271a": null,
              "e30a8abdc5ad5cce5ccfb309c7af5de555f5206d": {
                "values": [
                  {
                    "id": 17435
                  },
                  {
                    "id": 17438
                  },
                  {
                    "id": 17436
                  },
                  {
                    "id": 17434
                  }
                ],
                "type": "set"
              },
              "96ab9624b927ce8ace1fa7f68835ec6ce1129429": null,
              "8ba2eeb863bb61524630d3d984532eb52ae5a09e": null,
              "f78cd083b84a2074eac1527b995d1cd18f05d274": {
                "id": 6115,
                "type": "enum"
              },
              "2a60714907584910e00e6d365c22bd60a30fb754": null,
              "4400f5f0f186cd4b66bd3b6cdf3ada5291e211a6": null,
              "94abfc6d292fd9d2b8d7a69862f51a0a4d05800b": null,
              "a3a436114c108a967735950fc57a36432c91583c": null,
              "918a87eee91dbbf2bdd142ba97b600d092ee357e": null,
              "3babe87521790b3f8a2aa9b083e7600ff9d58b4e": null,
              "f7c455886368c1305dd134ef263f5f5814b62728": null,
              "13556f078177d1b90ffbc456f0105ab9bbd1dd58": {
                "type": "varchar",
                "value": "12154735 / SSP-SP"
              },
              "95c7ca5fb7d74db1c63cd2db0bd3858cd7a6fe6e": {
                "id": 17479,
                "type": "enum"
              },
              "a1982ea1a2cef6d2bd16caf8b1ada92a1844b99f": null
            },
            "emails": [
              {
                "label": "work",
                "value": "lilimayumi@uol.com.br",
                "primary": true
              },
              {
                "label": "other",
                "value": "lilimayumi64ss@gmail.com",
                "primary": false
              }
            ],
            "first_name": "Liliana Mayumi",
            "id": 69510,
            "label": null,
            "label_ids": [],
            "last_name": "Shintome",
            "name": "Liliana Mayumi Shintome",
            "org_id": 409,
            "owner_id": 3559832,
            "phones": [
              {
                "label": "mobile",
                "value": "11999619218",
                "primary": true
              }
            ],
            "update_time": "2026-05-25T14:36:36Z",
            "visible_to": "3"
          },
          "previous": {
            "custom_fields": {
              "13556f078177d1b90ffbc456f0105ab9bbd1dd58": {
                "type": "varchar",
                "value": "12154735"
              }
            }
          },
          "meta": {
            "action": "change",
            "company_id": "2396659",
            "correlation_id": "fb50a653-ec2f-4423-a3ec-18dac2e77b79",
            "entity_id": "69510",
            "entity": "person",
            "id": "e8275b25-0ff4-42e1-a4ae-c3e22d0dab23",
            "is_bulk_edit": false,
            "timestamp": "2026-05-25T14:36:36.163Z",
            "type": "general",
            "user_id": "3559832",
            "version": "2.0",
            "webhook_id": "1854429",
            "webhook_owner_id": "3559832",
            "change_source": "app",
            "permitted_user_ids": [
              "3559832",
              "3559867"
            ],
            "attempt": 1,
            "host": "center-ao.pipedrive.com"
          }
        }
      }
    ]
  },
  "versionId": "0f1034f8-6b52-4a85-b984-5522f8216dd8",
  "activeVersionId": "0f1034f8-6b52-4a85-b984-5522f8216dd8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-08-20T14:30:25.523Z",
      "createdAt": "2025-08-20T14:30:25.523Z",
      "role": "workflow:owner",
      "workflowId": "SyoCwUe45DVgxn4g",
      "projectId": "lrLYIwetv42aAH7x"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-25T14:44:35.318Z",
    "createdAt": "2026-05-25T14:44:18.964Z",
    "versionId": "0f1034f8-6b52-4a85-b984-5522f8216dd8",
    "workflowId": "SyoCwUe45DVgxn4g",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.pipedriveTrigger",
        "typeVersion": 1.1,
        "position": [
          -512,
          0
        ],
        "id": "b2e3c390-3de9-46be-a858-62f469168c8f",
        "name": "Pipedrive Trigger",
        "webhookId": "e215fd5c-1882-4d31-9e4e-79fd38fbd722",
        "credentials": {
          "pipedriveApi": {
            "id": "TLwmrhoVoFR3pFMt",
            "name": "Pipedrive account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9102be7e-be32-42fc-824b-91d26ac552ec",
                "name": "Data",
                "value": "={{    new Date().toLocaleString('pt-BR', {      timeZone: 'America/Sao_Paulo',     day: '2-digit',     month: '2-digit',     year: 'numeric',     hour: '2-digit',     minute: '2-digit'   }).replace(',', '') }}",
                "type": "string"
              },
              {
                "id": "983193a9-7490-4f0c-a888-9e4edcb4db5c",
                "name": "Primeiro Nome",
                "value": "={{ $('HTTP Pipedrive Person').item.json.data.first_name }}",
                "type": "string"
              },
              {
                "id": "84e3e1d4-75d9-441e-b3f0-cd2b54f86d4b",
                "name": "Último Nome",
                "value": "={{ $('HTTP Pipedrive Person').item.json.data.last_name }}",
                "type": "string"
              },
              {
                "id": "88a92bcc-1aa6-4c54-94d4-eb3b894964ca",
                "name": "Email",
                "value": "={{ $('HTTP Pipedrive Person').item.json.data.email[0].value }}",
                "type": "string"
              },
              {
                "id": "31cdadf9-fa7c-4f7c-b988-92d0009182c6",
                "name": "DDD",
                "value": "={{ $json.ddd }}",
                "type": "string"
              },
              {
                "id": "113ec366-9218-49a6-b507-783dbaa950ac",
                "name": "Telefone",
                "value": "={{ $json.telefonePadronizado }}",
                "type": "string"
              },
              {
                "id": "3f0c133f-ff82-4cef-9951-4db0b6ac9391",
                "name": "CRM",
                "value": "={{ $('HTTP Pipedrive Person').item.json.data['487088fb302d80a85669079afe41a91a21fd45ff'] }}",
                "type": "string"
              },
              {
                "id": "3b4d256b-68b2-4ab6-b109-e5864cd2b676",
                "name": "Profissional",
                "value": "={{ $('HTTP Pipedrive Person').item.json.data['334747750ddbc82c2010b5a75da2d82b3bf71783'] }}",
                "type": "string"
              },
              {
                "id": "67be04d4-9287-45ff-99f6-4efe20b56e52",
                "name": "UF",
                "value": "={{ $json.uf }}",
                "type": "string"
              },
              {
                "id": "b2c546fb-2e79-427f-94a0-6bc42963d4c8",
                "name": "Mensagem",
                "value": "={{ $('HTTP Pipedrive Person').item.json.data['53e2271622f39f32eecdb9e3c746fd69630e7366'] }}",
                "type": "string"
              },
              {
                "id": "02fb411b-69b9-4a00-9268-e9ca64b985cb",
                "name": "Pipeline ID",
                "value": "={{ $('Pipedrive Trigger').item.json.data.pipeline_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          128,
          0
        ],
        "id": "d8f1deec-3458-459c-a643-43fc12e4de9a",
        "name": "Edit Fields"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1424,
          32
        ],
        "id": "0c461180-9136-4d77-ab28-379e101d5b69",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b0c78a24-0d95-4ca0-9273-a155f7af9228",
                "leftValue": "={{ $json['Pipeline ID'] }}",
                "rightValue": "196",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          336,
          0
        ],
        "id": "bf39875b-159d-455a-9deb-f6caf7e9a4b4",
        "name": "If"
      },
      {
        "parameters": {
          "email": "={{ $json.Email }}",
          "updateIfExists": true,
          "additionalFields": {
            "fieldValues": {
              "property": [
                {
                  "field": "4",
                  "value": "={{ $json.DDD }}"
                },
                {
                  "field": "1",
                  "value": "={{ $json.Profissional }}"
                },
                {
                  "field": "2",
                  "value": "={{ $json.UF }}"
                },
                {
                  "field": "7",
                  "value": "={{ $json.Mensagem }}"
                },
                {
                  "field": "3",
                  "value": "={{ $json.CRM }}"
                }
              ]
            },
            "firstName": "={{ $json['Primeiro Nome'] }}",
            "lastName": "={{ $json['Último Nome'] }}",
            "phone": "={{ $json.Telefone }}"
          }
        },
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          784,
          -96
        ],
        "id": "ad536673-4401-499c-87c2-d0824ac51868",
        "name": "ActiveCampaign",
        "credentials": {
          "activeCampaignApi": {
            "id": "OhdCxnL5hg2HPyeD",
            "name": "Active dra. Márcia"
          }
        }
      },
      {
        "parameters": {
          "resource": "contactTag",
          "tagId": "13",
          "contactId": "={{ $json.id }}"
        },
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          1008,
          -96
        ],
        "id": "72d653e7-325b-4c3b-8bc6-479d14d0f18c",
        "name": "ActiveCampaign1",
        "credentials": {
          "activeCampaignApi": {
            "id": "OhdCxnL5hg2HPyeD",
            "name": "Active dra. Márcia"
          }
        }
      },
      {
        "parameters": {
          "resource": "contactList",
          "listId": 7,
          "contactId": "={{ $json.contact }}"
        },
        "type": "n8n-nodes-base.activeCampaign",
        "typeVersion": 1,
        "position": [
          1184,
          -96
        ],
        "id": "b38a5563-bdd0-43f6-b266-3809a820f4f8",
        "name": "ActiveCampaign2",
        "credentials": {
          "activeCampaignApi": {
            "id": "OhdCxnL5hg2HPyeD",
            "name": "Active dra. Márcia"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sendflow.pro/a/vV9VebSZg7w023jcvfDS",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"apiKey\": \"37e290c1-7110-4353-8f4f-b74f5057e915\",\n  \"phoneNumber\": \"{{ $json.Telefone }}\",\n  \"name\": \"{{ $json['Primeiro Nome'] }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          912,
          -320
        ],
        "id": "a09f6c4d-cba6-48e2-8a81-e1e807727d20",
        "name": "HTTP Sendflow"
      },
      {
        "parameters": {
          "jsCode": "// ================================\n// 1. Captura do objeto principal\n// ================================\nconst pessoa = $input.first().json.data[0];\n\n// ================================\n// 2. Captura do telefone\n// ================================\nconst telefoneOriginal = pessoa.phone?.[0]?.value || '';\n\n// ================================\n// 3. Remove tudo que não for número\n// ================================\nlet telefone = telefoneOriginal.replace(/\\D/g, '');\n\n// ================================\n// 4. Remove código do país (55), se existir\n// ================================\nif (telefone.startsWith('55')) {\n  telefone = telefone.substring(2);\n}\n\n// ================================\n// 5. Extrai DDD e número\n// ================================\nconst ddd = telefone.substring(0, 2);\nlet numero = telefone.substring(2);\n\n// ================================\n// 6. Garante o dígito 9 (celular)\n// ================================\nif (numero.length === 8) {\n  numero = '9' + numero;\n}\n\n// ================================\n// 7. Monta telefone padronizado\n// ================================\nconst telefonePadronizado = `55${ddd}${numero}`;\n\n// ================================\n// 8. Captura o código da UF vindo do Pipedrive\n// ================================\nconst codigoUF = pessoa['f77f5009ce48d7b62427c2d0961522f1830eb66e'];\n\n// ================================\n// 9. Mapa código → UF\n// ================================\nconst mapaUF = {\n  6050: \"AC\",\n  6051: \"AL\",\n  6052: \"AP\",\n  6053: \"AM\",\n  6054: \"BA\",\n  6055: \"CE\",\n  6056: \"DF\",\n  6057: \"ES\",\n  6058: \"GO\",\n  6059: \"MA\",\n  6060: \"MT\",\n  6061: \"MS\",\n  6062: \"MG\",\n  6063: \"PA\",\n  6064: \"PB\",\n  6065: \"PR\",\n  6066: \"PE\",\n  6067: \"PI\",\n  6068: \"RJ\",\n  6069: \"RN\",\n  6070: \"RS\",\n  6071: \"RO\",\n  6072: \"RR\",\n  6073: \"SC\",\n  6074: \"SP\",\n  6075: \"SE\",\n  6076: \"TO\"\n};\n\n// ================================\n// 10. Resolve a UF\n// ================================\nconst uf = mapaUF[codigoUF] || \"\";\n\n// ================================\n// 11. Retorno\n// ================================\nreturn {\n  ddd,\n  telefonePadronizado,\n  uf\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -48,
          0
        ],
        "id": "b5bf4e28-66a7-4f55-a135-81a97fb46c5f",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "url": "=https://api.pipedrive.com/v1/persons/{{ $json.data.person_id }}?api_token=0d41365876c960f504fbf6f8ca965564a77d2b04 ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -288,
          0
        ],
        "id": "50b70c05-3ab9-4a13-9c09-75c2b7e668ab",
        "name": "HTTP Pipedrive Person"
      }
    ],
    "connections": {
      "Pipedrive Trigger": {
        "main": [
          [
            {
              "node": "HTTP Pipedrive Person",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "ActiveCampaign",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Sendflow",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ActiveCampaign": {
        "main": [
          [
            {
              "node": "ActiveCampaign1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ActiveCampaign1": {
        "main": [
          [
            {
              "node": "ActiveCampaign2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ActiveCampaign2": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Sendflow": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Pipedrive Person": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Letícia Piazzetta",
    "name": "Version 0f1034f8",
    "description": "",
    "autosaved": false
  },
  "tags": []
}