[márcia]-leads---grupos-1Zs6TLcMHpBgDFMu.json
{
  "updatedAt": "2025-05-20T12:53:17.378Z",
  "createdAt": "2025-05-13T19:05:30.863Z",
  "id": "1Zs6TLcMHpBgDFMu",
  "name": "[Márcia] Leads - Grupos",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marcia-pos-acupultura-entrou",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        -140
      ],
      "id": "9a231ffa-c80b-46aa-8501-c3f3f2a9b28e",
      "name": "Webhook",
      "webhookId": "7e5f5b8b-75cb-4edb-8db9-784a1af2bf1e"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marcia-pos-acupultura-saiu",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        60
      ],
      "id": "0b830126-d64e-4773-b379-19e483a576a4",
      "name": "Webhook1",
      "webhookId": "2b912ffc-3209-4c41-a979-efe1c2b02821"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const rawPhone = item.json.body.data?.[\"number\"] || \"\";\n\n  // Remove tudo que não for número\n  let telefoneLimpo = rawPhone.replace(/\\D/g, '');\n\n  // Remove o código do país se estiver presente\n  if (telefoneLimpo.startsWith('55') && telefoneLimpo.length > 11) {\n    telefoneLimpo = telefoneLimpo.slice(2);\n  } else if (telefoneLimpo.length > 11) {\n    telefoneLimpo = telefoneLimpo.slice(-11);\n  }\n\n  const ddd = telefoneLimpo.slice(0, 2);\n  let numero = telefoneLimpo.slice(2);\n\n  // Adição do nono dígito (caso DDD < 30 e número tiver só 8 dígitos)\n  if (parseInt(ddd) < 30 && numero.length === 8) {\n    numero = '9' + numero;\n  }\n\n  // Remoção do nono dígito (caso DDD >= 30 e número tiver 10 dígitos começando com 10)\n  if (parseInt(ddd) >= 30 && numero.length === 10 && numero.startsWith('9')) {\n    numero = numero.slice(1);\n  }\n\n  const telefoneFormatado = `55${ddd}${numero}`;\n\n  return {\n    json: {\n      phone: telefoneFormatado\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -140
      ],
      "id": "863dae18-bbae-4e3a-a4af-90c477e06768",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64b6720a-4018-425c-98c2-5d44a2e045eb",
              "name": "Data",
              "value": "={{ \n  new Date().getDate().toString().padStart(2, '0') + '/' +\n  (new Date().getMonth() + 1).toString().padStart(2, '0') + '/' +\n  new Date().getFullYear() + ' ' +\n  new Date().getHours().toString().padStart(2, '0') + ':' +\n  new Date().getMinutes().toString().padStart(2, '0')\n}}",
              "type": "string"
            },
            {
              "id": "08f1d58e-8c4e-4bf3-8ee1-a8e42ef9819f",
              "name": "Telefone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "0ecfc49f-9f1c-4a0b-b9dc-3d970db8fe1a",
              "name": "Campanha",
              "value": "={{ $('Webhook').item.json.body.data.campaignName }}",
              "type": "string"
            },
            {
              "id": "153e18e6-89e6-4e06-b122-3b2b99b51fc8",
              "name": "Grupo",
              "value": "={{ $('Webhook').item.json.body.data.groupName }}",
              "type": "string"
            },
            {
              "id": "aa84edc5-7962-4bcd-8aa0-0cebcdf9455a",
              "name": "No Grupo",
              "value": "=Sim",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        -140
      ],
      "id": "ec28a7dc-fd79-4cf5-b333-0a294270307c",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        -140
      ],
      "id": "17a54406-74ac-4f4c-b6ff-713f3f5a2880",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        860,
        60
      ],
      "id": "dae2ac11-667e-4a5a-b373-6f7f4da50c74",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const rawPhone = item.json.body.data?.[\"number\"] || \"\";\n\n  // Remove tudo que não for número\n  let telefoneLimpo = rawPhone.replace(/\\D/g, '');\n\n  // Remove o código do país se estiver presente\n  if (telefoneLimpo.startsWith('55') && telefoneLimpo.length > 11) {\n    telefoneLimpo = telefoneLimpo.slice(2);\n  } else if (telefoneLimpo.length > 11) {\n    telefoneLimpo = telefoneLimpo.slice(-11);\n  }\n\n  const ddd = telefoneLimpo.slice(0, 2);\n  let numero = telefoneLimpo.slice(2);\n\n  // Adição do nono dígito (caso DDD < 30 e número tiver só 8 dígitos)\n  if (parseInt(ddd) < 30 && numero.length === 8) {\n    numero = '9' + numero;\n  }\n\n  // Remoção do nono dígito (caso DDD >= 30 e número tiver 9 dígitos começando com 9)\n  if (parseInt(ddd) >= 30 && numero.length === 9 && numero.startsWith('9')) {\n    numero = numero.slice(1);\n  }\n\n  const telefoneFormatado = `55${ddd}${numero}`;\n\n  return {\n    json: {\n      phone: telefoneFormatado\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        60
      ],
      "id": "a657267a-24d1-4fe5-b117-5aea99a823d1",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "64b6720a-4018-425c-98c2-5d44a2e045eb",
              "name": "Data",
              "value": "={{ \n  new Date().getDate().toString().padStart(2, '0') + '/' +\n  (new Date().getMonth() + 1).toString().padStart(2, '0') + '/' +\n  new Date().getFullYear() + ' ' +\n  new Date().getHours().toString().padStart(2, '0') + ':' +\n  new Date().getMinutes().toString().padStart(2, '0')\n}}",
              "type": "string"
            },
            {
              "id": "08f1d58e-8c4e-4bf3-8ee1-a8e42ef9819f",
              "name": "Telefone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "0ecfc49f-9f1c-4a0b-b9dc-3d970db8fe1a",
              "name": "Campanha",
              "value": "={{ $('Webhook1').item.json.body.data.campaignName }}",
              "type": "string"
            },
            {
              "id": "153e18e6-89e6-4e06-b122-3b2b99b51fc8",
              "name": "Grupo",
              "value": "={{ $('Webhook1').item.json.body.data.groupName }}",
              "type": "string"
            },
            {
              "id": "aa84edc5-7962-4bcd-8aa0-0cebcdf9455a",
              "name": "No Grupo",
              "value": "=Não",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        60
      ],
      "id": "431ef44d-6e51-46c5-a08a-28caa8f7ad39",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-AOpqR7pMk_lu2afsjzxJRCokw5ZMGEDMd7S3psrOwM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1111463565,
          "mode": "list",
          "cachedResultName": "Grupos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-AOpqR7pMk_lu2afsjzxJRCokw5ZMGEDMd7S3psrOwM/edit#gid=1111463565"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.Data }}",
            "Nome do Grupo": "={{ $json.Grupo }}",
            "Nome da Campanha": "={{ $json.Campanha }}",
            "Número": "={{ $json.Telefone }}",
            "No Grupo": "={{ $json['No Grupo'] }}"
          },
          "matchingColumns": [
            "Número"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome do Grupo",
              "displayName": "Nome do Grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome da Campanha",
              "displayName": "Nome da Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Número",
              "displayName": "Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "No Grupo",
              "displayName": "No Grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        -140
      ],
      "id": "6e14fe39-1da0-4c57-9f58-a4c78b993da6",
      "name": "Sheets Entrou",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W0R4Ys7oQXFuzbM4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1-AOpqR7pMk_lu2afsjzxJRCokw5ZMGEDMd7S3psrOwM/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1111463565,
          "mode": "list",
          "cachedResultName": "Grupos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-AOpqR7pMk_lu2afsjzxJRCokw5ZMGEDMd7S3psrOwM/edit#gid=1111463565"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.Data }}",
            "No Grupo": "={{ $json['No Grupo'] }}",
            "Nome do Grupo": "={{ $json.Grupo }}",
            "Nome da Campanha": "={{ $json.Campanha }}",
            "Número": "={{ $json.Telefone }}"
          },
          "matchingColumns": [
            "Número"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome do Grupo",
              "displayName": "Nome do Grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome da Campanha",
              "displayName": "Nome da Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Número",
              "displayName": "Número",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "No Grupo",
              "displayName": "No Grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        60
      ],
      "id": "c273f1c0-1a6b-4dd2-87df-42e6af1bc773",
      "name": "Sheets Saiu",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W0R4Ys7oQXFuzbM4",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Sheets Entrou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Sheets Saiu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Entrou": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Saiu": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "C0JGoY8oqU3Vhsgx"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook2025.faondigital.com.br",
            "user-agent": "axios/1.7.7",
            "content-length": "273",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "sendtok": "5DB47742869B5066BFBAA77C0ED3CC0C3456FE8C4E",
            "x-forwarded-for": "168.138.150.10",
            "x-forwarded-host": "webhook2025.faondigital.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "252d6c58ebda",
            "x-real-ip": "168.138.150.10"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "Av8ABSnzPTQE5OHAtEJM",
            "event": "group.updated.members.added",
            "data": {
              "campaignName": "Instagram vendedor - Pago",
              "groupName": "Instagram vendedor #10",
              "campaignId": "4t68jDctEg4ws3ASI6nO",
              "number": "558596474276",
              "createdAt": "2025-04-11T01:07:56.264Z"
            },
            "version": "1.0.0"
          },
          "webhookUrl": "https://webhook2025.faondigital.com.br/webhook/ana-EVI0325-gr-entrou",
          "executionMode": "production"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "webhook2025.faondigital.com.br",
            "user-agent": "axios/1.7.7",
            "content-length": "283",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "sendtok": "9CA68369A2A4E2052A3013ED41063A7661529F2764",
            "x-forwarded-for": "168.138.150.10",
            "x-forwarded-host": "webhook2025.faondigital.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "252d6c58ebda",
            "x-real-ip": "168.138.150.10"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "CcI6K9JopCixldcCJZhf",
            "event": "group.updated.members.removed",
            "data": {
              "campaignName": "Lançamento Acupuntura",
              "groupName": "Interesse Preparatório Teac 2025",
              "campaignId": "0F7Y9nK3KtXTSmTOJdM0",
              "number": "556299294580",
              "createdAt": "2025-05-15T10:08:44.837Z"
            },
            "version": "1.0.0"
          },
          "webhookUrl": "https://webhook2025.faondigital.com.br/webhook/marcia-pos-acupultura-saiu",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "5e87a6bc-eb4e-43d2-80e5-eb1d6015bece",
  "activeVersionId": "5e87a6bc-eb4e-43d2-80e5-eb1d6015bece",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-05-13T19:05:30.863Z",
      "createdAt": "2025-05-13T19:05:30.863Z",
      "role": "workflow:owner",
      "workflowId": "1Zs6TLcMHpBgDFMu",
      "projectId": "lrLYIwetv42aAH7x"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-11-25T16:33:10.313Z",
    "createdAt": "2025-11-25T16:33:10.313Z",
    "versionId": "5e87a6bc-eb4e-43d2-80e5-eb1d6015bece",
    "workflowId": "1Zs6TLcMHpBgDFMu",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "marcia-pos-acupultura-entrou",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -20,
          -140
        ],
        "id": "9a231ffa-c80b-46aa-8501-c3f3f2a9b28e",
        "name": "Webhook",
        "webhookId": "7e5f5b8b-75cb-4edb-8db9-784a1af2bf1e"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "marcia-pos-acupultura-saiu",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -20,
          60
        ],
        "id": "0b830126-d64e-4773-b379-19e483a576a4",
        "name": "Webhook1",
        "webhookId": "2b912ffc-3209-4c41-a979-efe1c2b02821"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const rawPhone = item.json.body.data?.[\"number\"] || \"\";\n\n  // Remove tudo que não for número\n  let telefoneLimpo = rawPhone.replace(/\\D/g, '');\n\n  // Remove o código do país se estiver presente\n  if (telefoneLimpo.startsWith('55') && telefoneLimpo.length > 11) {\n    telefoneLimpo = telefoneLimpo.slice(2);\n  } else if (telefoneLimpo.length > 11) {\n    telefoneLimpo = telefoneLimpo.slice(-11);\n  }\n\n  const ddd = telefoneLimpo.slice(0, 2);\n  let numero = telefoneLimpo.slice(2);\n\n  // Adição do nono dígito (caso DDD < 30 e número tiver só 8 dígitos)\n  if (parseInt(ddd) < 30 && numero.length === 8) {\n    numero = '9' + numero;\n  }\n\n  // Remoção do nono dígito (caso DDD >= 30 e número tiver 10 dígitos começando com 10)\n  if (parseInt(ddd) >= 30 && numero.length === 10 && numero.startsWith('9')) {\n    numero = numero.slice(1);\n  }\n\n  const telefoneFormatado = `55${ddd}${numero}`;\n\n  return {\n    json: {\n      phone: telefoneFormatado\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          200,
          -140
        ],
        "id": "863dae18-bbae-4e3a-a4af-90c477e06768",
        "name": "Code"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "64b6720a-4018-425c-98c2-5d44a2e045eb",
                "name": "Data",
                "value": "={{ \n  new Date().getDate().toString().padStart(2, '0') + '/' +\n  (new Date().getMonth() + 1).toString().padStart(2, '0') + '/' +\n  new Date().getFullYear() + ' ' +\n  new Date().getHours().toString().padStart(2, '0') + ':' +\n  new Date().getMinutes().toString().padStart(2, '0')\n}}",
                "type": "string"
              },
              {
                "id": "08f1d58e-8c4e-4bf3-8ee1-a8e42ef9819f",
                "name": "Telefone",
                "value": "={{ $json.phone }}",
                "type": "string"
              },
              {
                "id": "0ecfc49f-9f1c-4a0b-b9dc-3d970db8fe1a",
                "name": "Campanha",
                "value": "={{ $('Webhook').item.json.body.data.campaignName }}",
                "type": "string"
              },
              {
                "id": "153e18e6-89e6-4e06-b122-3b2b99b51fc8",
                "name": "Grupo",
                "value": "={{ $('Webhook').item.json.body.data.groupName }}",
                "type": "string"
              },
              {
                "id": "aa84edc5-7962-4bcd-8aa0-0cebcdf9455a",
                "name": "No Grupo",
                "value": "=Sim",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          420,
          -140
        ],
        "id": "ec28a7dc-fd79-4cf5-b333-0a294270307c",
        "name": "Edit Fields"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          860,
          -140
        ],
        "id": "17a54406-74ac-4f4c-b6ff-713f3f5a2880",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          860,
          60
        ],
        "id": "dae2ac11-667e-4a5a-b373-6f7f4da50c74",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const rawPhone = item.json.body.data?.[\"number\"] || \"\";\n\n  // Remove tudo que não for número\n  let telefoneLimpo = rawPhone.replace(/\\D/g, '');\n\n  // Remove o código do país se estiver presente\n  if (telefoneLimpo.startsWith('55') && telefoneLimpo.length > 11) {\n    telefoneLimpo = telefoneLimpo.slice(2);\n  } else if (telefoneLimpo.length > 11) {\n    telefoneLimpo = telefoneLimpo.slice(-11);\n  }\n\n  const ddd = telefoneLimpo.slice(0, 2);\n  let numero = telefoneLimpo.slice(2);\n\n  // Adição do nono dígito (caso DDD < 30 e número tiver só 8 dígitos)\n  if (parseInt(ddd) < 30 && numero.length === 8) {\n    numero = '9' + numero;\n  }\n\n  // Remoção do nono dígito (caso DDD >= 30 e número tiver 9 dígitos começando com 9)\n  if (parseInt(ddd) >= 30 && numero.length === 9 && numero.startsWith('9')) {\n    numero = numero.slice(1);\n  }\n\n  const telefoneFormatado = `55${ddd}${numero}`;\n\n  return {\n    json: {\n      phone: telefoneFormatado\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          200,
          60
        ],
        "id": "a657267a-24d1-4fe5-b117-5aea99a823d1",
        "name": "Code1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "64b6720a-4018-425c-98c2-5d44a2e045eb",
                "name": "Data",
                "value": "={{ \n  new Date().getDate().toString().padStart(2, '0') + '/' +\n  (new Date().getMonth() + 1).toString().padStart(2, '0') + '/' +\n  new Date().getFullYear() + ' ' +\n  new Date().getHours().toString().padStart(2, '0') + ':' +\n  new Date().getMinutes().toString().padStart(2, '0')\n}}",
                "type": "string"
              },
              {
                "id": "08f1d58e-8c4e-4bf3-8ee1-a8e42ef9819f",
                "name": "Telefone",
                "value": "={{ $json.phone }}",
                "type": "string"
              },
              {
                "id": "0ecfc49f-9f1c-4a0b-b9dc-3d970db8fe1a",
                "name": "Campanha",
                "value": "={{ $('Webhook1').item.json.body.data.campaignName }}",
                "type": "string"
              },
              {
                "id": "153e18e6-89e6-4e06-b122-3b2b99b51fc8",
                "name": "Grupo",
                "value": "={{ $('Webhook1').item.json.body.data.groupName }}",
                "type": "string"
              },
              {
                "id": "aa84edc5-7962-4bcd-8aa0-0cebcdf9455a",
                "name": "No Grupo",
                "value": "=Não",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          420,
          60
        ],
        "id": "431ef44d-6e51-46c5-a08a-28caa8f7ad39",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1-AOpqR7pMk_lu2afsjzxJRCokw5ZMGEDMd7S3psrOwM/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 1111463565,
            "mode": "list",
            "cachedResultName": "Grupos",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-AOpqR7pMk_lu2afsjzxJRCokw5ZMGEDMd7S3psrOwM/edit#gid=1111463565"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Data": "={{ $json.Data }}",
              "Nome do Grupo": "={{ $json.Grupo }}",
              "Nome da Campanha": "={{ $json.Campanha }}",
              "Número": "={{ $json.Telefone }}",
              "No Grupo": "={{ $json['No Grupo'] }}"
            },
            "matchingColumns": [
              "Número"
            ],
            "schema": [
              {
                "id": "Data",
                "displayName": "Data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nome do Grupo",
                "displayName": "Nome do Grupo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nome da Campanha",
                "displayName": "Nome da Campanha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Número",
                "displayName": "Número",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "No Grupo",
                "displayName": "No Grupo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          640,
          -140
        ],
        "id": "6e14fe39-1da0-4c57-9f58-a4c78b993da6",
        "name": "Sheets Entrou",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "W0R4Ys7oQXFuzbM4",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1-AOpqR7pMk_lu2afsjzxJRCokw5ZMGEDMd7S3psrOwM/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 1111463565,
            "mode": "list",
            "cachedResultName": "Grupos",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-AOpqR7pMk_lu2afsjzxJRCokw5ZMGEDMd7S3psrOwM/edit#gid=1111463565"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Data": "={{ $json.Data }}",
              "No Grupo": "={{ $json['No Grupo'] }}",
              "Nome do Grupo": "={{ $json.Grupo }}",
              "Nome da Campanha": "={{ $json.Campanha }}",
              "Número": "={{ $json.Telefone }}"
            },
            "matchingColumns": [
              "Número"
            ],
            "schema": [
              {
                "id": "Data",
                "displayName": "Data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nome do Grupo",
                "displayName": "Nome do Grupo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nome da Campanha",
                "displayName": "Nome da Campanha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Número",
                "displayName": "Número",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "No Grupo",
                "displayName": "No Grupo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          640,
          60
        ],
        "id": "c273f1c0-1a6b-4dd2-87df-42e6af1bc773",
        "name": "Sheets Saiu",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "W0R4Ys7oQXFuzbM4",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook1": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Sheets Entrou",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Sheets Saiu",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheets Entrou": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheets Saiu": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}