[sidnei]-prospecção-clint-sheets-uvfmyd39SEWHy4ji.json
{
  "updatedAt": "2026-05-19T12:24:02.847Z",
  "createdAt": "2025-03-20T16:50:10.285Z",
  "id": "uvfmyd39SEWHy4ji",
  "name": "[Sidnei] Prospecção Clint Sheets",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sidenei-con-coquetel",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        20,
        0
      ],
      "id": "e1460f2c-09b1-40f2-b19c-75ceb719bcb0",
      "name": "Webhook",
      "webhookId": "2ffb7ecf-5f31-4d98-b34b-c90db68c5ab5"
    },
    {
      "parameters": {
        "jsCode": "// Obtém os dados do nó webhook\nconst items = $input.all();\n\nreturn items.map(item => {\n    let phone = item.json.body?.contact_phone || \"\";\n    let polo = item.json.body?.contact_polo || \"\";\n\n    // Remove caracteres especiais do telefone, mantendo apenas números\n    phone = phone.replace(/[^\\d]/g, \"\"); // Remove tudo que não for número\n\n    // Verifica se já está no formato 55DDDTelefone\n    const regex = /^55\\d{2}\\d{8,9}$/;\n    if (!regex.test(phone)) {\n        // Se tiver 10 ou 11 dígitos (DDD + telefone), adiciona 55\n        if (phone.length === 10 || phone.length === 11) {\n            phone = \"55\" + phone;\n        }\n    }\n\n    // Ajusta o nome do polo, removendo \"CAE CLUB - \" se presente\n    polo = polo.replace(/^CAE CLUB - /i, \"\"); \n\n    // Retorna apenas o telefone e o polo formatados\n    return { json: { phone, polo } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "4fc3f6a4-daa7-4b26-97db-a5ca3ea98a24",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3072988a-3f0f-4459-a5d6-218d5f43ca18",
              "name": "Nome",
              "value": "={{ $('Webhook').item.json.body.contact_name }}",
              "type": "string"
            },
            {
              "id": "c20f4d68-ba32-416e-b2be-49e83b3e0919",
              "name": "Email",
              "value": "={{ $('Webhook').item.json.body.contact_email }}",
              "type": "string"
            },
            {
              "id": "90e8dc28-7d6b-4179-806c-a3919b182bc7",
              "name": "Telefone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "8f3fab65-b6e9-4a1c-bc09-7ffc2949a99b",
              "name": "Status",
              "value": "Ganho",
              "type": "string"
            },
            {
              "id": "543a4462-a1b6-462d-92d9-c41b0e3332dc",
              "name": "Polo",
              "value": "={{ $json.polo }}",
              "type": "string"
            },
            {
              "id": "2adcc879-9023-46af-8c0d-951b158a4cf4",
              "name": "Negócio",
              "value": "Coquetel",
              "type": "string"
            },
            {
              "id": "e072066c-20d1-4a28-a2b1-7b2ae4c3a863",
              "name": "Plataforma de Pagamento",
              "value": "={{ $('Webhook').item.json.body.contact_plataforma_pagamento }}",
              "type": "string"
            },
            {
              "id": "52952c00-9b87-495b-b244-661f163220e0",
              "name": "Consultor",
              "value": "={{ $('Webhook').item.json.body.deal_user }}",
              "type": "string"
            },
            {
              "id": "7cb8b30c-ab61-492e-a0ba-dc47ad384567",
              "name": "Data",
              "value": "={{ new Date().toLocaleDateString(\"pt-BR\") }}",
              "type": "string"
            },
            {
              "id": "96e8eed9-762b-4593-83f2-b8a8b85b7671",
              "name": "tag",
              "value": "={{ $('Webhook').item.json.body.contact_tag }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "0972fcd8-ebc9-400d-bed7-569f0906ec79",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19AqeDxaKVFtagPf87wzb4PqbBdL1vzaKrri7hJbItzM/edit?gid=1256989761#gid=1256989761",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Todos leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19AqeDxaKVFtagPf87wzb4PqbBdL1vzaKrri7hJbItzM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Dono": "={{ $json.Consultor }}",
            "Telefone": "={{ $json.Telefone }}",
            "Tag": "={{ $json.Polo }}",
            "Nome": "={{ $json.Nome }}",
            "Data": "={{ $json.Data }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "utm source",
              "displayName": "utm source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "utm campaign",
              "displayName": "utm campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "utm medium",
              "displayName": "utm medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "utm content",
              "displayName": "utm content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "utm term",
              "displayName": "utm term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dono",
              "displayName": "Dono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mês",
              "displayName": "Mês",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        -80
      ],
      "id": "12991eff-a50e-4d53-a9d8-30cdc80d225f",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W0R4Ys7oQXFuzbM4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## CAE CLUB EVENTOS - Coquetel",
        "height": 260,
        "width": 1100
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -40,
        -100
      ],
      "typeVersion": 1,
      "id": "9b03115e-a84b-4a22-82b5-8c75540d539e",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        60
      ],
      "id": "76c919cf-bc09-44a0-8dd4-e4e7fb72836d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "993cf8e5-2297-4a2b-a23e-2d342503f87e",
              "leftValue": "={{ $json.Consultor }}",
              "rightValue": "jonathanandrepires@gmail.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        80
      ],
      "id": "33532b13-907d-4891-a552-3bd7f6811c82",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://new-backend.botconversa.com.br/api/v1/webhooks-automation/catch/162926/CHHY9oamCTtN/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Nome",
              "value": "={{ $json.Nome }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "Consultor",
              "value": "={{ $json.Consultor }}"
            },
            {
              "name": "Email",
              "value": "={{ $json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        20
      ],
      "id": "fb889b69-b16b-4d0b-81b8-19c74f0b84f7",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "C0JGoY8oqU3Vhsgx"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook2025.faondigital.com.br",
            "user-agent": "axios/1.7.9",
            "content-length": "232",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "traceparent": "00-68361720000000002f820d38e9a6a5e1-1b75c5b106b0a84a-01",
            "tracestate": "dd=t.tid:6836172000000000;t.dm:-3;s:2;p:1b75c5b106b0a84a",
            "x-datadog-parent-id": "1978704975411325002",
            "x-datadog-sampling-priority": "2",
            "x-datadog-tags": "_dd.p.tid=6836172000000000,_dd.p.dm=-3",
            "x-datadog-trace-id": "3423313204844340705",
            "x-forwarded-for": "52.200.254.28",
            "x-forwarded-host": "webhook2025.faondigital.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "252d6c58ebda",
            "x-real-ip": "52.200.254.28"
          },
          "params": {},
          "query": {},
          "body": {
            "contact_name": "Isabella Teste",
            "contact_email": "bellasimaia@gmail.con",
            "contact_phone": "+5531984617540",
            "deal_stage": "BASE",
            "deal_user": "jonathanandrepires@gmail.com",
            "deal_status": "OPEN",
            "contact_tag": [
              "CAE CLUB - Polo Santos"
            ]
          },
          "webhookUrl": "https://webhook2025.faondigital.com.br/webhook/sidenei-con-coquetel",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "0addc002-36a4-4a63-953e-2da470bd9727",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-03-20T16:50:10.285Z",
      "createdAt": "2025-03-20T16:50:10.285Z",
      "role": "workflow:owner",
      "workflowId": "uvfmyd39SEWHy4ji",
      "projectId": "lrLYIwetv42aAH7x"
    }
  ],
  "activeVersion": null,
  "tags": []
}