[sidnei]-rotina-cae-club-eventos---status-ganho---clint-sheets-GRb3XaUSfCzyz6tb.json
{
  "updatedAt": "2026-04-16T11:54:12.152Z",
  "createdAt": "2025-07-24T17:32:56.195Z",
  "id": "GRb3XaUSfCzyz6tb",
  "name": "[Sidnei] Rotina CAE CLUB EVENTOS - Status Ganho - Clint Sheets",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sidnei-cae-ganho",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "dc815bce-0865-4e2d-9182-f9ea56560ce2",
      "name": "Webhook",
      "webhookId": "799ac321-9035-43ed-a778-c01288ad342b"
    },
    {
      "parameters": {
        "jsCode": "// Pega o telefone da entrada e transforma em string\nconst rawPhone = String($input.first().json.body.contact_phone || '');\n\n// Remove tudo que não for número\nlet cleaned = rawPhone.replace(/\\D/g, '');\n\n// Verifica se já tem o formato correto ou ajusta\nif (cleaned.length === 11) {\n  cleaned = '55' + cleaned;\n} else if (cleaned.length === 13 && cleaned.startsWith('55')) {\n  // Já está correto\n} else if (cleaned.length === 12 && !cleaned.startsWith('55')) {\n  cleaned = '55' + cleaned;\n} else {\n  // Se não encaixar em nenhum formato esperado, retorna vazio para sinalizar erro\n  cleaned = '';\n}\n\n// Retorno\nreturn [{\n  json: {\n    telefoneFormatado: cleaned\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        0
      ],
      "id": "ca9d397e-4c80-4921-8c94-776470081bc7",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "814012e9-d3fd-4dff-be24-14079154334a",
              "name": "Data Encerramento",
              "value": "={{    new Date().toLocaleString('pt-BR', {      timeZone: 'America/Sao_Paulo',     day: '2-digit',     month: '2-digit',     year: 'numeric',     hour: '2-digit',     minute: '2-digit'   }).replace(',', '') }}",
              "type": "string"
            },
            {
              "id": "7e5c7a5c-fc8c-4818-b4b8-2ddfa542ecec",
              "name": "Nome",
              "value": "={{ $('Webhook').item.json.body.contact_name }}",
              "type": "string"
            },
            {
              "id": "05f96f17-1786-4c71-8437-6ec659a73411",
              "name": "Email",
              "value": "={{ $('Webhook').item.json.body.contact_email }}",
              "type": "string"
            },
            {
              "id": "17160782-5223-4301-81e6-65626e0f6b25",
              "name": "Telefone",
              "value": "={{ $json.telefoneFormatado }}",
              "type": "string"
            },
            {
              "id": "93aa89bc-707a-4fda-b7f4-f06b116985b3",
              "name": "Dono",
              "value": "={{ $('Webhook').item.json.body.deal_user_name }}",
              "type": "string"
            },
            {
              "id": "17daf2a0-1ad6-4fe8-8955-9739ed9e3163",
              "name": "Segmento",
              "value": "={{ $('Webhook').item.json.body.organization_segment }}",
              "type": "string"
            },
            {
              "id": "ca0a0db9-799b-4d57-aa81-c7178547857f",
              "name": "Status",
              "value": "Ganho",
              "type": "string"
            },
            {
              "id": "78145476-ceb1-4013-a0c5-fb5227346743",
              "name": "Valor",
              "value": "={{ $('Webhook').item.json.body.deal_value }}",
              "type": "string"
            },
            {
              "id": "2e348fe9-5d63-45bf-9678-79a7ed7e36b1",
              "name": "Polo",
              "value": "={{ $('Webhook').item.json.body.contact_polo }}",
              "type": "string"
            },
            {
              "id": "e0b37fd0-2378-4564-84aa-3a61bdc0a54f",
              "name": "utm source",
              "value": "={{ $('Webhook').item.json.body.contact_utm_source }}",
              "type": "string"
            },
            {
              "id": "baa556eb-9f53-4418-9652-886f6defd5ee",
              "name": "utm medium",
              "value": "={{ $('Webhook').item.json.body.contact_utm_medium }}",
              "type": "string"
            },
            {
              "id": "a51320e7-c3d8-470f-a153-a10a7879de84",
              "name": "utm content",
              "value": "={{ $('Webhook').item.json.body.contact_utm_content }}",
              "type": "string"
            },
            {
              "id": "13e07455-f07e-4584-aba8-17388c3c0daa",
              "name": "utm campaign",
              "value": "={{ $('Webhook').item.json.body.contact_utm_campaign }}",
              "type": "string"
            },
            {
              "id": "1a2ef0e8-8633-48df-b2b0-fb1f3beecb4e",
              "name": "utm term",
              "value": "={{ $('Webhook').item.json.body.contact_utm_term }}",
              "type": "string"
            },
            {
              "id": "59e38077-e994-49e0-8ad1-1015dfd0b6c2",
              "name": "ID",
              "value": "={{ $('Webhook').item.json.body.deal_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "139622a0-6eaa-4233-833d-f16f09398c02",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1GVlV6Hf7QhcdvwBcSjvlGIpWzQUE5LWwHtVI3fMVVfs/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GVlV6Hf7QhcdvwBcSjvlGIpWzQUE5LWwHtVI3fMVVfs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONE": "={{ $json.Telefone }}",
            "EMAIL": "={{ $json.Email }}",
            "NOME": "={{ $json.Nome }}",
            "DONO": "={{ $json.Dono }}",
            "SEGMENTO": "={{ $json.Segmento }}",
            "STATUS": "={{ $json.Status }}",
            "DATA DO ENCERRAMENTO": "={{ $json['Data Encerramento'] }}",
            "VALOR": "={{ $json.Valor }}",
            "POLO": "={{ $json.Polo }}",
            "UTM SOURCE": "={{ $json['utm source'] }}",
            "UTM MEDIUM": "={{ $json['utm medium'] }}",
            "UTM CONTENT": "={{ $json['utm content'] }}",
            "UTM CAMPAIGN": "={{ $json['utm campaign'] }}",
            "UTM TERM": "={{ $json['utm term'] }}",
            "ID": "={{ $json.ID }}"
          },
          "matchingColumns": [
            "TELEFONE"
          ],
          "schema": [
            {
              "id": "DIA",
              "displayName": "DIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DONO",
              "displayName": "DONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEGMENTO",
              "displayName": "SEGMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VALOR",
              "displayName": "VALOR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "POLO",
              "displayName": "POLO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BASE",
              "displayName": "BASE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PROSPECÇÃO",
              "displayName": "PROSPECÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CONEXÃO",
              "displayName": "CONEXÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PROPOSTA/NEGOCIAÇÃO",
              "displayName": "PROPOSTA/NEGOCIAÇÃO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PENDENTE",
              "displayName": "PENDENTE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "RE-CONTATO",
              "displayName": "RE-CONTATO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LEAD NÃO CONVERTIDO",
              "displayName": "LEAD NÃO CONVERTIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FECHAMENTO",
              "displayName": "FECHAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MOTIVO DA PERDA",
              "displayName": "MOTIVO DA PERDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA DO ENCERRAMENTO",
              "displayName": "DATA DO ENCERRAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UTM SOURCE",
              "displayName": "UTM SOURCE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UTM MEDIUM",
              "displayName": "UTM MEDIUM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UTM CONTENT",
              "displayName": "UTM CONTENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UTM CAMPAIGN",
              "displayName": "UTM CAMPAIGN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "UTM TERM",
              "displayName": "UTM TERM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        620,
        0
      ],
      "id": "dee391eb-b7ef-402b-a181-d9f9393ea522",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W0R4Ys7oQXFuzbM4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        840,
        0
      ],
      "id": "f0e37b09-4c40-42f6-9243-371714fb0571",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook2025.faondigital.com.br",
            "user-agent": "axios/1.11.0",
            "content-length": "486",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "baggage": "sentry-trace_id=072a1163fa1c45bd966936a0ac518888,sentry-environment=production,sentry-release=22328fde187e6074bead41ccee02e163dac476a0,sentry-public_key=3bff5cff929c44f9856518b808937983,sentry-transaction=core.tasks.create_message_from_dupond,sentry-sample_rate=0.015625,sentry-sampled=false,sentry-org_id=407628,sentry-sample_rand=0.7687486851884473,bubblegroup.http.route=api%2F1.1%2Fwf,bubblegroup.http.host=metrifiquei.bubbleapps.io,bubblegroup.workflow.appname=metrifiquei,bubblegroup.workflow.app_version=live,bubblegroup.workflow.situation=post_wf_api,bubblegroup.workflow.id=bUCvh,bubblegroup.workflow.event.type=APIEvent,bubblegroup.workflow.action.id=bUCvu,bubblegroup.workflow.action.type=apiconnector2-bTueO.bTueb,userId=01F1FM1QRPZVFPV768WFSN0V1M,actorType=user,userToken=01K252Q4D1DM9NW9YA2H5TAN7F,rootTraceId=4b9f4a005b4c41b51389f34744a8c39c,rootTimestamp=1754851813950,origin=3,name=flows,loc=app.tasks.flows.batch_evaluate_flow_action_evaluations_webhook_send_multibroker__r1,source=klaviyo",
            "content-type": "application/json",
            "traceparent": "00-689c8bee0000000061392f206f7dbbf7-0cb8157dd5a41e54-00",
            "tracestate": "dd=t.tid:689c8bee00000000;t.dm:-3;s:-1;p:0cb8157dd5a41e54",
            "x-datadog-parent-id": "916506154369293908",
            "x-datadog-sampling-priority": "-1",
            "x-datadog-tags": "_dd.p.tid=689c8bee00000000",
            "x-datadog-trace-id": "7005682511707487223",
            "x-forwarded-for": "52.200.254.28",
            "x-forwarded-host": "webhook2025.faondigital.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "252d6c58ebda",
            "x-real-ip": "52.200.254.28"
          },
          "params": {},
          "query": {},
          "body": {
            "contact_name": "Valquiria De Lacerda Santos",
            "contact_email": "waldetyflash@gmail.com",
            "contact_phone": "+5511988964624",
            "deal_stage": "FECHADO",
            "deal_user": "biahadriany@gmail.com",
            "deal_status": "WON",
            "deal_user_name": "Beatriz  Adriany",
            "organization_segment": "",
            "deal_value": 127,
            "contact_polo": "CAE CLUB - Polo Lapa",
            "contact_utm_source": "",
            "contact_utm_medium": "",
            "contact_utm_content": "",
            "contact_utm_term": "",
            "contact_utm_campaign": "",
            "deal_id": "d32d77d0-82ed-4a94-9ad3-e6c3bccb75a0"
          },
          "webhookUrl": "https://webhook2025.faondigital.com.br/webhook/sidnei-cae-ganho",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "590ec92b-9918-4b95-90b8-a57c47f33920",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-07-24T17:32:56.195Z",
      "createdAt": "2025-07-24T17:32:56.195Z",
      "role": "workflow:owner",
      "workflowId": "GRb3XaUSfCzyz6tb",
      "projectId": "lrLYIwetv42aAH7x"
    }
  ],
  "activeVersion": null,
  "tags": []
}